<section>
{{#unless actor.system.settings.ignoreDPLimit}}
<h3>
  Combat DP Limit:
  {{actor.system.abilities.primary.abilityLimits.Combat.current}}
  /
  {{actor.system.abilities.primary.abilityLimits.Combat.final}}
</h3>
{{/unless}}

<div class="secondary-block">
  <table class="ability-table">
    <thead>
      <tr>
        <th class="ability-table-name">
          Ability
        </th>
        <th>
          Base
        </th>
        <th>
          Bonus
        </th>
        <th>
          Class
        </th>
        <th>
          Final
        </th>
        <th>
          Focus?
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each actor.system.abilities.primary.Combat as |ability key|}}
      {{#if (in key "Ki" "KiAccumulation")}}
      {{else}}
        <tr>
          <td>
            {{localize (concat "ABF.Ability." key)}}
          </td>
          <td>
            <input
              class="mod-input-resize-char primary-input"
              data-name="{{key}}"
              data-cost="{{ability.cost}}"
              type="number"
              value="{{ability.base}}"
              name="system.abilities.primary.Combat.{{key}}.base"
              {{#if @root.actor.system.lockUi}}disabled{{/if}}
              data-tooltip="
              <div><strong>DP Cost:</strong> {{ability.cost}}</div>
            "
            />
          </td>
          <td>
            <input
              class="mod-input-resize-char"
              type="number"
              value="{{ability.bonus}}"
              name="system.abilities.primary.Combat.{{key}}.bonus"
              {{#if @root.actor.system.lockUi}}disabled{{/if}}
            />
          </td>
            <td>
            {{ability.class}}
            </td>
          <td class="ability-roll clickable" data-category="Combat" data-ability="{{key}}">
            {{ability.final}}
          </td>
          {{#if (in key "WearArmor")}}
            <td></td>
          {{else}}
            <td class="passive-icon clickable primary-focus" data-ability="{{key}}" data-tooltip="Enables focus of a single skill, this bypasses the within 50 limit, but halves DP limit. (50% would now be 25% limit, etc)">
              {{#if ability.focus}}
                <i class="fas fa-check"></i>
              {{else}}
                <i class="fas fa-times"></i>
              {{/if}}
            </td>
          {{/if}}
        </tr>
        {{/if}}
      {{/each}}
    </tbody>
  </table>
</div>

<div class="secondary-block ki-block">
  <div class="ki-section-header" data-action="toggleKi">
    <h3>
      Total Ki: {{actor.system.abilities.primary.Combat.Ki.totalKi}}
    </h3>
  </div>

  <div class="secondary-block">
    <table class="ability-table ki-table">
      <thead>
        <tr>
          <th class="ability-table-name">Characteristic</th>
          <th>Ki Base</th>
          <th>Ki Bonus</th>
          <th>Ki Final</th>
          <th>Acc Base</th>
          <th>Acc Bonus</th>
          <th>Acc Final</th>
        </tr>
      </thead>

      <tbody>
        {{#with actor.system.abilities.primary.Combat.Ki.characteristics as |chars|}}
          {{#each chars as |kiObj charName|}}
            <tr>
              <td>{{charName}}</td>

              <td>
                <input type="number"
                  value="{{kiObj.base}}"
                  name="system.abilities.primary.Combat.Ki.characteristics.{{charName}}.base"
                  data-tooltip="<div><strong>DP Cost:</strong> {{kiObj.cost}}</div>"
                />
              </td>

              <td>
                <input type="number"
                  value="{{kiObj.bonus}}"
                  name="system.abilities.primary.Combat.Ki.characteristics.{{charName}}.bonus"
                />
              </td>

              <td>{{kiObj.final}}</td>

              <td>
                <input type="number"
                  value="{{kiObj.kiAccumulation.base}}"
                  name="system.abilities.primary.Combat.Ki.characteristics.{{charName}}.kiAccumulation.base",
                  data-tooltip="<div><strong>DP Cost:</strong> {{kiObj.kiAccumulation.cost}}</div>"
                />
              </td>

              <td>
                <input type="number"
                  value="{{kiObj.kiAccumulation.bonus}}"
                  name="system.abilities.primary.Combat.Ki.characteristics.{{charName}}.kiAccumulation.bonus"
                />
              </td>

              <td>{{kiObj.kiAccumulation.final}}</td>
            </tr>
          {{/each}}
        {{/with}}
      </tbody>
    </table>
  </div>
</div>
</section>