<h3>
  Supplemental Values:
</h3>
<div class="secondary-block">
  <table class="ability-table">
    <thead>
      <tr>
        <th class="ability-table-name">
          Ability
        </th>
        <th>
          Current
        </th>
        <th>
          Class
        </th>
        <th>
          Final
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          Ki
        </td>
        <td>
        <input
            class="mod-input-resize-char primary-input"
            data-name="ki"
            data-cost="{{system.core.ki.cost}}"
            type="number"
            value="{{system.core.ki.current}}"
            name="system.core.ki.current"
            {{#if actor.system.lockUi}}disabled{{/if}}
            data-tooltip="
            <div><strong>DP Cost:</strong> {{system.core.ki.cost}}</div>
        "
        />
        </td>
        <td>
        </td>
        <td>
            {{system.core.ki.final}}
        </td>
      </tr>
        <tr>
        <td>
          Zeon
        </td>
        <td>
        <input
            class="mod-input-resize-char primary-input"
            data-name="zeon"
            data-cost="{{system.core.zeon.cost}}"
            type="number"
            value="{{system.core.zeon.current}}"
            name="system.core.zeon.current"
            {{#if actor.system.lockUi}}disabled{{/if}}
            data-tooltip="
            <div><strong>DP Cost:</strong> {{system.core.zeon.cost}}</div>
        "
        />
        </td>
        <td>
            {{system.core.zeon.class}}
        </td>
        <td>
            {{system.core.zeon.final}}
        </td>
      </tr>
    </tbody>
  </table>
</div>