<section class="common-fields">
  <div class="weapon-grid-item">
    <div class="weapon-col">
      <!-- CORE STATS -->
      <h3 class="section-header">
        Core Stats
      </h3>
      <table class="common-table">
        <tr>
          <td>
            <label>
              Damage
            </label>
            {{system.damage.final}}
          </td>
          <td>
            <label>
              Speed
            </label>
            {{system.speed.final}}
          </td>
        </tr>
        <tr>
          <td>
            <label>
              Fortitude
            </label>
            {{system.fortitude.final}}
          </td>
          <td>
            <label>
              Breakage
            </label>
            {{system.breakage.final}}
          </td>
        </tr>
        <tr>
          <td>
            <label>
              Presence
            </label>
            {{system.presence.final}}
          </td>
          <td>
            <label>
              Attack
            </label>
            {{system.attackBonus}}
          </td>
        </tr>
        {{#ifEquals system.weaponType "projectile"}}
          <tr>
            <td>
              <label>
                Weapon Range
              </label>
              {{system.projectileWeaponRange.final}}
            </td>
            <td></td>
          </tr>
        {{/ifEquals}}
      </table>
    </div>
  </div>
</section>