<section class="common-fields">
  <div class="weapon-grid">
    <div class="weapon-col">
      <!-- CORE STATS -->
      <h3 class="section-header">
        Core Stats
      </h3>
      <table class="common-table">
        <tr>
          <td>
            <label>
              Damage
            </label>
            {{system.damage.final}}
          </td>
          <td>
            <label>
              Speed
            </label>
            {{system.speed.final}}
          </td>
        </tr>
        <tr>
          <td>
            <label>
              Fortitude
            </label>
            {{system.fortitude.final}}
          </td>
          <td>
            <label>
              Breakage
            </label>
            {{system.breakage.final}}
          </td>
        </tr>
        <tr>
          <td>
            <label>
              Presence
            </label>
            {{system.presence.final}}
          </td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>
</section>