<h3>
  Athletics
</h3>
<div class="secondary-block">
  <table class="ability-table">
    <thead>
      <tr>
        <th class="ability-table-name">
          Ability
        </th>
        <th>
          Base
        </th>
        <th>
          Bonus
        </th>
        <th>
          Class
        </th>
        <th>
          Final
        </th>
        <th>
          Passive
        </th>
        <th>Extra</th>
      </tr>
    </thead>
    <tbody class="secondary-table">
      {{#each actor.system.abilities.secondary.Athletics as |ability key|}}
        <tr>
          <td class="clickable-ability clickable"
            data-category="Athletics"
            data-ability="{{key}}"
            data-tooltip="Click for Information">
            {{localize (concat "ABF.Ability." key)}}
          </td>
          <td>
            <input
              class="mod-input-resize-char secondary-input"
              data-name="{{key}}"
              data-cost="{{ability.cost}}"
              type="number"
              value="{{ability.base}}"
              name="system.abilities.secondary.Athletics.{{key}}.base"
              data-tooltip="
              <div><strong>Knowledge:</strong> {{ability.knowledge}}</div>
              <div><strong>DP Cost:</strong> {{ability.cost}}</div>"
              {{#if @root.actor.system.lockUi}}disabled{{/if}}
            />
          </td>
          <td>
            <input
              class="mod-input-resize-char"
              type="number"
              value="{{ability.bonus}}"
              name="system.abilities.secondary.Athletics.{{key}}.bonus"
              {{#if @root.actor.system.lockUi}}disabled{{/if}}
            />
          </td>
          <td>
            {{ability.class}}
          </td>
          <td
            class="ability-roll clickable"
            data-category="Athletics"
            data-ability="{{key}}"
            data-tooltip="
              <div><strong>Knowledge:</strong> {{ability.knowledge}}</div>
              <div><strong>DP Cost:</strong> {{ability.cost}}</div>
            "
          >
            {{ability.final}}
          </td>
          <td class="passive-icon">
            {{#if ability.passive}}
              <i class="fas fa-check"></i>
            {{else}}
              <i class="fas fa-times"></i>
            {{/if}}
          </td>
          <td>
            <a class="expand-secondary"
            data-category="Athletics"
            data-ability="{{key}}">
              <i class="expand-icon fas fa-plus-circle"></i>
            </a>
          </td>
        </tr>
        <tr class="secondary-extra hidden"
            data-category="Athletics"
            data-ability="{{key}}">
          <td colspan="7">
            <div class="natural-bonus-config">

              <table class="natural-bonus-table">
                <thead>
                  <tr>
                    <th>Natural Bonus</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <input
                        class="mod-input-resize-char"
                        type="number"
                        value="{{ability.naturalBonuses}}"
                        name="system.abilities.secondary.Athletics.{{key}}.naturalBonuses"
                        {{#if @root.actor.system.lockUi}}disabled{{/if}}
                      />
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>