<h3>
  Creative
</h3>
<div class="secondary-block">
  <table class="ability-table">
    <thead>
      <tr>
        <th class="ability-table-name">
          Ability
        </th>
        <th>
          Base
        </th>
        <th>
          Bonus
        </th>
        <th>
          class
        </th>
        <th>
          Final
        </th>
        <th>
          Passive
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each actor.system.abilities.secondary.Creative as |ability key|}}
        <tr>
          <td>
            {{localize (concat "ABF.Ability." key)}}
          </td>
          <td>
            <input
              class="mod-input-resize-char secondary-input"
              data-name="{{key}}"
              data-cost="{{ability.cost}}"
              type="number"
              value="{{ability.base}}"
              name="system.abilities.secondary.Creative.{{key}}.base"
              data-tooltip="
              <div><strong>Knowledge:</strong> {{ability.knowledge}}</div>
              <div><strong>DP Cost:</strong> {{ability.cost}}</div>"
              {{#if actor.system.lockUi}}disabled{{/if}}
            />
          </td>
          <td>
            <input
              class="mod-input-resize-char"
              type="number"
              value="{{ability.bonus}}"
              name="system.abilities.secondary.Creative.{{key}}.bonus"
              {{#if actor.system.lockUi}}disabled{{/if}}
            />
          </td>
          <td>
            {{ability.class}}
          </td>
          <td
            class="ability-roll clickable"
            data-category="Creative"
            data-ability="{{key}}"
            data-tooltip="Click to make an Open roll."
          >
            {{ability.final}}
          </td>
          <td class="passive-icon">
            {{#if ability.passive}}
              <i class="fas fa-check"></i>
            {{else}}
              <i class="fas fa-times"></i>
            {{/if}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>