<div class="mystic-grid">
  <!-- LEFT COLUMN -->
  <div class="mystic-left">
    <!-- MAGIC ACCUMULATION -->
    <section class="magic-accumulation block">
      <h3>
        Magic Accumulation
      </h3>

      <div class="field-row">
        <label class="path-name">
          Base Magic Accumulation.
        </label>
        <span class="path-name">
          {{system.abilities.primary.Supernatural.MagicAccumulation.base}}
        </span>
      </div>

      <div class="field-row">
        <label class="path-name">
          Multiples
        </label>
        <span class="path-name">
          {{system.abilities.primary.Supernatural.MAMultiples.base}}
        </span>
      </div>

      <div class="field-row final">
        <label class="path-name">
          Final Magic Accumulation.
        </label>
        <span class="path-name">
          {{system.abilities.primary.Supernatural.MagicAccumulation.final}}
        </span>
      </div>
    </section>

    <!-- ZEON -->
    <section class="zeon block">
      <h3>
        Zeon
      </h3>

      <div class="field-row">
        <label class="path-name">
          Base Zeon
        </label>
        <span class="path-name">
          {{system.abilities.primary.Supernatural.Zeon.base}}
        </span>
      </div>

      <div class="field-row">
        <label class="path-name">
          Class
        </label>
        <span class="path-name">
          {{system.abilities.primary.Supernatural.Zeon.class}}
        </span>
      </div>

      <div class="imbalance-group">
        <div class="zeon-row">
          <div class="imbalance-field">
            <label class="path-name">
              Accumulated
            </label>
            <input
              class="path-name relative-input"
              type="text"
              name="system.abilities.primary.Supernatural.Zeon.temp"
              data-min="0"
              data-max="{{system.abilities.primary.Supernatural.Zeon.reserve}}"
              data-current="{{system.abilities.primary.Supernatural.Zeon.temp}}"
              value="{{system.abilities.primary.Supernatural.Zeon.temp}}"
            />
          </div>
          <div class="imbalance-field">
            <label class="path-name">
              Reserve
            </label>
            <input
              class="path-name relative-input"
              type="text"
              name="system.abilities.primary.Supernatural.Zeon.reserve"
              data-min="0"
              data-max="{{system.abilities.primary.Supernatural.Zeon.final}}"
              data-current="{{system.abilities.primary.Supernatural.Zeon.reserve}}"
              value="{{system.abilities.primary.Supernatural.Zeon.reserve}}"
            />
          </div>
          <div class="imbalance-field">
            <label class="path-name">
              Maximum
            </label>
            <span class="path-name" data-tooltip="Final Zeon = 20 + (Base Power * 10) + Power Final + (Base Zeon * 5)">
              {{system.abilities.primary.Supernatural.Zeon.final}}
            </span>
          </div>
        </div>
      </div>
    </section>

    <!-- MAGIC PROJECTION -->
    <section class="magic-projection block">
      <h3>
        Magic Projection
      </h3>

      <div class="field-row">
        <label class="path-name">
          Base
        </label>
        <span class="path-name">
          {{system.abilities.primary.Supernatural.MagicProjection.base}}
        </span>
      </div>

      <div class="field-row">
        <label class="path-name">
          Bonus
        </label>
        <span class="path-name">
          {{system.abilities.primary.Supernatural.MagicProjection.bonus}}
        </span>
      </div>

      <div class="field-row final">
        <label class="path-name">
          Final
        </label>
        <span class="path-name">
          {{system.abilities.primary.Supernatural.MagicProjection.final}}
        </span>
      </div>

      <!-- IMBALANCE (side-by-side) -->
      <div class="imbalance-group">
        <h4>
          Imbalance
        </h4>

        <input
          type="range"
          name="system.mystic.imbalance.value"
          min="-30"
          max="30"
          step="5"
          value="{{system.mystic.imbalance.value}}"
          class="imbalance-slider"
          {{#if @root.actor.system.lockUi}}disabled{{/if}}
        />

        <div class="imbalance-row">
          <div class="imbalance-field">
            <label class="path-name">
              Offensive
            </label>
            <span class="path-name">
              {{system.mystic.imbalance.offensive}}
            </span>
          </div>

          <div class="imbalance-field">
            <label class="path-name">
              Defensive
            </label>
            <span class="path-name">
              {{system.mystic.imbalance.defensive}}
            </span>
          </div>
        </div>
      </div>
    </section>
  </div>

  <!-- RIGHT COLUMN -->
  <div class="mystic-center">
    <section class="path-levels">
      <h3>
        Paths
      </h3>
      <div class="path-grid">
        {{#each system.mystic.paths as |path key|}}
          <div class="path-card path-{{lower key}}">
            {{#if (in key "Illusion")}}
              <div class="path-name">{{key}}</div>
            {{else}}
              <div class="path-name" data-tooltip="Opposed Path: {{path.opposedPath}}">{{key}}</div>
            {{/if}}
            <input
              class="path-level"
              type="number"
              name="system.mystic.paths.{{key}}.level"
              value="{{path.level}}"
              min="0"
              {{#if @root.actor.system.lockUi}}disabled{{/if}}
            />
          </div>
        {{/each}}
      </div>
      <div class="imbalance-group">
        <div class="imbalance-row">
          <div class="imbalance-field">
            <label class="path-name">
              Used
            </label>
            <span class="path-name">
              {{system.mystic.magicLevels.used}}
            </span>
          </div>

          <div class="imbalance-field">
            <label class="path-name">
              Base ML
            </label>
            <span class="path-name">
              {{system.mystic.magicLevels.max}}
            </span>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div class="mystic-right">
    <section class="path-levels">
      <h3>Active Spells</h3>

      <table class="classes-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Level</th>
            <th>Path</th>
            <th>Maintenance</th>
            <th>Cost</th>
          </tr>
        </thead>

        <tbody>
          {{#each system.mystic.activeSpells as |spell idx|}}
            <tr>
              <td class="clickable spell-entry" data-item-id="{{spell.id}}" data-tooltip="Click to open spell">
                {{spell.name}}
              </td>

              {{!-- LEVEL COLUMN --}}
              <td>
                {{#if (eq spell.system.spellType "freeAccess")}}
                  {{spell.system.minLevel}} / {{spell.system.maxLevel}}
                {{else}}
                  {{spell.system.level}}
                {{/if}}
              </td>

              {{!-- PATH COLUMN --}}
              <td>
                {{#if (eq spell.system.spellType "freeAccess")}}
                  —
                {{else}}
                  {{humanize spell.system.path}}
                {{/if}}
              </td>

              {{!-- MAINTENANCE --}}
              <td>{{spell.system.maintenance}}</td>

              {{!-- COST --}}
              <td>{{spell.system.cost}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </section>
  </div>
</div>