<div class="spells-grid">
  <div class="spells-left">
    <h3>
      Path Spells
      {{#if @root.actor.system.lockUi}}
      {{else}}
        <a class="add-spell" data-tooltip="Add Spell"><i class="fas fa-plus-circle"></i></a>
      {{/if}}
    </h3>

    <table class="classes-table">
      <thead>
        <tr>
          <th>
            Name
          </th>
          <th>
            Level
          </th>
          <th>
            Path
          </th>
          <th>
            Zeon Cost
          </th>
          <th>
            Active
          </th>

          <th></th>
        </tr>
      </thead>

      <tbody>
        {{#each system.mystic.spellItems as |spell idx|}}
          <tr>
            <td class="clickable spell-entry" data-item-id="{{spell.id}}" data-tooltip="Click to open spell">
              {{spell.name}}
            </td>

            <td>
              {{spell.system.level}}
            </td>

            <td>
              {{humanize spell.system.path}}
            </td>

            <td>
              {{spell.system.cost}}
            </td>

            <td
              class="passive-icon clickable spell-active"
              data-item-id="{{spell.id}}"
              data-tooltip="Set spell as active"
            >
              {{#if spell.system.active}}
                <i class="fas fa-check"></i>
              {{else}}
                <i class="fas fa-times"></i>
              {{/if}}
            </td>

            {{#if @root.actor.system.lockUi}}
              <td></td>
            {{else}}
              <td>
                <a class="delete-spell" data-index="{{idx}}" data-item-id="{{spell.id}}" data-tooltip="Delete Spell">
                  <i class="fas fa-trash"></i>
                </a>
              </td>
            {{/if}}
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

  <div class="spells-right">
    <h3>
      Free Access Spells
      {{#if @root.actor.system.lockUi}}
      {{else}}
        <a class="add-fa-spell" data-tooltip="Add Spell"><i class="fas fa-plus-circle"></i></a>
      {{/if}}
    </h3>

    {{#each system.mystic.faSpellGroups as |group|}}
      <h3>
        Level Range: {{group.band}} Remaining: {{group.current}} / {{group.max}}
      </h3>

      <table class="classes-table">
        <thead>
          <tr>
            <th>
              Name
            </th>
            <th>
              Level Range
            </th>
            <th>
              Zeon Cost
            </th>
            <th>
              Active
            </th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          {{#each group.spells as |spell idx|}}
            <tr>
              <td class="clickable spell-entry" data-item-id="{{spell.id}}" data-tooltip="Click to open spell">
                {{spell.name}}
              </td>

              <td>
                {{spell.system.minLevel}} / {{spell.system.maxLevel}}
              </td>

              <td>
                {{spell.system.cost}}
              </td>

              <td
                class="passive-icon clickable spell-active"
                data-item-id="{{spell.id}}"
                data-tooltip="Set spell as active."
              >
                {{#if spell.system.active}}
                  <i class="fas fa-check"></i>
                {{else}}
                  <i class="fas fa-times"></i>
                {{/if}}
              </td>

              {{#if @root.actor.system.lockUi}}
                <td></td>
              {{else}}
                <td>
                  <a
                    class="delete-fa-spell"
                    data-index="{{idx}}"
                    data-item-id="{{spell.id}}"
                    data-tooltip="Delete Spell"
                  >
                    <i class="fas fa-trash"></i>
                  </a>
                </td>
              {{/if}}
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{/each}}
  </div>
</div>