<section>
<h3>
  Advantages
</h3>
<table class="classes-table">
  <thead>
    <tr>
      <th>
        Advantage
      </th>
      <th>
        Cost
      </th>
      {{#if @root.actor.system.lockUi}}
        <th></th>
      {{else}}
        <th class="class-actions-header">
          <a class="add-advantage" data-tooltip="Add Advantage">
            <i class="fas fa-plus-circle"></i>
          </a>
        </th>
      {{/if}}
    </tr>
  </thead>

  <tbody>
    {{#each system.advantages as |adv idx|}}
      <tr>
        <td
          class="advantage-name clickable-advantage"
          data-index="{{idx}}"
          data-advantage="{{adv.name}}"
          {{#ifEquals adv.name "Add One Point To A Characteristic"}} data-tooltip="Characteristic: {{adv.selection.characteristic}}"{{/ifEquals}}
          {{#orEquals adv.name "Aptitude in a Subject" "Natural Learner"}} data-tooltip="Secondary Ability: {{adv.selection.secondaryAbility}}"{{/orEquals}}
          {{#orEquals adv.name "Aptitude in a Field" "Natural Learner (Field)"}} data-tooltip="Secondary Category: {{adv.selection.secondaryCategory}}"{{/orEquals}}
          {{#ifEquals adv.name "Natural Knowledge of a Path"}} data-tooltip="Path: {{adv.selection.mysticPath}}"{{/ifEquals}}
        >
          {{adv.name}}
        </td>
        <td>
          {{adv.cost}}
        </td>
        {{#if @root.actor.system.lockUi}}
          <td></td>
        {{else}}
          <td>
            <a class="delete-advantage" data-index="{{idx}}" data-tooltip="Delete Advantage">
              <i class="fas fa-trash"></i>
            </a>
          </td>
        {{/if}}
      </tr>
    {{/each}}
  </tbody>
</table>
</section>