<section class="characteristics-section">
  <h3>Attributes</h3>

  <table class="characteristics-table">
    <tr>
      <th></th>
      <th>Base</th>
      <th>Modifier</th>
      <th>Final</th>
    </tr>
    <tr><td>Agility</td><td><input
          type="number"
          name="system.characteristics.Agility.base"
          value="{{system.characteristics.Agility.base}}"
        /></td><td><input
          type="number"
          class="mod-input-resize-char"
          name="system.characteristics.Agility.bonus"
          value="{{system.characteristics.Agility.bonus}}"
        /></td><td><input
          type="number"
          value="{{system.characteristics.Agility.final}}"
          disabled
        /></td></tr>
    <tr><td>Constitution</td><td><input
          type="number"
          name="system.characteristics.Constitution.base"
          value="{{system.characteristics.Constitution.base}}"
        /></td><td><input
          type="number"
          class="mod-input-resize-char"
          name="system.characteristics.Constitution.bonus"
          value="{{system.characteristics.Constitution.bonus}}"
        /></td><td><input
          type="number"
          value="{{system.characteristics.Constitution.final}}"
          disabled
        /></td></tr>
    <tr><td>Dexterity</td><td><input
          type="number"
          name="system.characteristics.Dexterity.base"
          value="{{system.characteristics.Dexterity.base}}"
        /></td><td><input
          type="number"
          class="mod-input-resize-char"
          name="system.characteristics.Dexterity.bonus"
          value="{{system.characteristics.Dexterity.bonus}}"
        /></td><td><input
          type="number"
          value="{{system.characteristics.Dexterity.final}}"
          disabled
        /></td></tr>
    <tr><td>Strength</td><td><input
          type="number"
          name="system.characteristics.Strength.base"
          value="{{system.characteristics.Strength.base}}"
        /></td><td><input
          type="number"
          class="mod-input-resize-char"
          name="system.characteristics.Strength.bonus"
          value="{{system.characteristics.Strength.bonus}}"
        /></td><td><input
          type="number"
          value="{{system.characteristics.Strength.final}}"
          disabled
        /></td></tr>
    <tr><td>Intelligence</td><td><input
          type="number"
          name="system.characteristics.Intelligence.base"
          value="{{system.characteristics.Intelligence.base}}"
        /></td><td><input
          type="number"
          class="mod-input-resize-char"
          name="system.characteristics.Intelligence.bonus"
          value="{{system.characteristics.Intelligence.bonus}}"
        /></td><td><input
          type="number"
          value="{{system.characteristics.Intelligence.final}}"
          disabled
        /></td></tr>
    <tr><td>Perception</td><td><input
          type="number"
          name="system.characteristics.Perception.base"
          value="{{system.characteristics.Perception.base}}"
        /></td><td><input
          type="number"
          class="mod-input-resize-char"
          name="system.characteristics.Perception.bonus"
          value="{{system.characteristics.Perception.bonus}}"
        /></td><td><input
          type="number"
          value="{{system.characteristics.Perception.final}}"
          disabled
        /></td></tr>
    <tr><td>Power</td><td><input
          type="number"
          name="system.characteristics.Power.base"
          value="{{system.characteristics.Power.base}}"
        /></td><td><input
          type="number"
          class="mod-input-resize-char"
          name="system.characteristics.Power.bonus"
          value="{{system.characteristics.Power.bonus}}"
        /></td><td><input
          type="number"
          value="{{system.characteristics.Power.final}}"
          disabled
        /></td></tr>
    <tr><td>Willpower</td><td><input
          type="number"
          name="system.characteristics.Willpower.base"
          value="{{system.characteristics.Willpower.base}}"
        /></td><td><input
          type="number"
          class="mod-input-resize-char"
          name="system.characteristics.Willpower.bonus"
          value="{{system.characteristics.Willpower.bonus}}"
        /></td><td><input
          type="number"
          value="{{system.characteristics.Willpower.final}}"
          disabled
        /></td></tr>
  </table>
</section>