<section class="final-armor-section">
  <h3>Final Armor</h3>

  <table class="final-armor-table">
    <tr>
      <td>CUT</td>
      <td>IMP</td>
      <td>THR</td>
      <td>HEA</td>
      <td>ELE</td>
      <td>COL</td>
      <td>ENE</td>
    </tr>

    <tr>
      <td>
        <input
          class="input-expand"
          type="number"
          name="system.finalArmor.cut"
          value="{{system.finalArmor.cut}}"
        />
      </td>
      <td>
        <input
          class="input-expand"
          type="number"
          name="system.finalArmor.imp"
          value="{{system.finalArmor.imp}}"
        />
      </td>
      <td>
        <input
          class="input-expand"
          type="number"
          name="system.finalArmor.thr"
          value="{{system.finalArmor.thr}}"
        />
      </td>
      <td>
        <input
          class="input-expand"
          type="number"
          name="system.finalArmor.hea"
          value="{{system.finalArmor.hea}}"
        />
      </td>
      <td>
        <input
          class="input-expand"
          type="number"
          name="system.finalArmor.ele"
          value="{{system.finalArmor.ele}}"
        />
      </td>
      <td>
        <input
          class="input-expand"
          type="number"
          name="system.finalArmor.col"
          value="{{system.finalArmor.col}}"
        />
      </td>
      <td>
        <input
          class="input-expand"
          type="number"
          name="system.finalArmor.ene"
          value="{{system.finalArmor.ene}}"
        />
      </td>
    </tr>
  </table>
</section>