<section class="final-armor-section">
  <h3>Armor</h3>

  <table class="final-armor-table">
    <tr>
      <td>Cut</td>
      <td>Impact</td>
      <td>Thrust</td>
      <td>Heat</td>
      <td>Electricity</td>
      <td>Cold</td>
      <td>Energy</td>
    </tr>

    <tr>
      <td>
        <input
          class="input-expand"
          type="number"
          name="system.finalArmor.cut"
          data-tooltip="These are cutting or slashing attacks that leave long and bloody wounds. They possess a sharpened edge."
          value="{{system.finalArmor.cut}}"
        />
      </td>
      <td>
        <input
          class="input-expand"
          type="number"
          name="system.finalArmor.imp"
          data-tooltip="These are crushing or smashing blows. The damage done is from the weight and force of the blow."
          value="{{system.finalArmor.imp}}"
        />
      </td>
      <td>
        <input
          class="input-expand"
          type="number"
          name="system.finalArmor.thr"
          data-tooltip="These are penetrating attacks that puncture and run through the body. The weapons involved usually have a sharp pointed end"
          value="{{system.finalArmor.thr}}"
        />
      </td>
      <td>
        <input
          class="input-expand"
          type="number"
          name="system.finalArmor.hea"
          data-tooltip=" These attacks are based on the effects of high temperatures. They cause burns and abrasive wounds."
          value="{{system.finalArmor.hea}}"
        />
      </td>
      <td>
        <input
          class="input-expand"
          type="number"
          name="system.finalArmor.ele"
          data-tooltip=" These attacks are based on the shock of electrical discharges, like those caused by lightning."
          value="{{system.finalArmor.ele}}"
        />
      </td>
      <td>
        <input
          class="input-expand"
          type="number"
          name="system.finalArmor.col"
          data-tooltip="These attacks produce damage from freezing. They are caused by ice and extreme low temperatures."
          value="{{system.finalArmor.col}}"
        />
      </td>
      <td>
        <input
          class="input-expand"
          type="number"
          name="system.finalArmor.ene"
          data-tooltip="These are attacks of mystical origin that affect the soul and essence of an opponent."
          value="{{system.finalArmor.ene}}"
        />
      </td>
    </tr>
  </table>
</section>