<section class="header-block lft-wrapper">
  <!-- Life Points -->
  <div class="lft-block">
    <h3>Life Points Total: {{system.lifePoints.final}}</h3>
    <table class="lft-table">
      <tr>
        <td>
          <input type="number" name="system.lifePoints.current" value="{{system.lifePoints.current}}">
        </td>
        <td>
          <input type="number" name="system.lifePoints.bonus" value="{{system.lifePoints.bonus}}">
        </td>
      </tr>
    </table>
  </div>

  <!-- Fatigue -->
  <div class="lft-block">
    <h3>Fatigue</h3>
    <table class="lft-table">
      <tr>
        <td>
          <input type="number" name="system.fatigue.current" value="{{system.fatigue.current}}">
        </td>
        <td>
          <input type="number" name="system.fatigue.max" value="{{system.fatigue.max}}">
        </td>
      </tr>
    </table>
  </div>

  <!-- Turn -->
  <div class="lft-block">
    <h3>Turn</h3>
    <table class="lft-table">
      <tr>
        <td>
          <input type="number" name="system.turn.current" value="{{system.turn.current}}">
        </td>
        <td>
          <input type="number" name="system.turn.max" value="{{system.turn.max}}">
        </td>
      </tr>
    </table>
  </div>
</section>