<section class="resistances-section">
  <h3>Resistances</h3>

  <table class="resistances-table">
    <tr>
      <th></th>
      <th>Bonus</th>
      <th>Final</th>
    </tr>

    <tr>
      <td>Physical</td>
      <td>
        <input
          type="number"
          class="mod-input-resize-res"
          name="system.resistances.Physical.bonus"
          value="{{system.resistances.Physical.bonus}}"
        />
      </td>
    <td class="res-roll" data-char="Physical">{{system.resistances.Physical.final}}</td>
    </tr>

    <tr>
      <td>Disease</td>
      <td>
        <input
          type="number"
          class="mod-input-resize-res"
          name="system.resistances.Disease.bonus"
          value="{{system.resistances.Disease.bonus}}"
        />
      </td>
      <td class="res-roll" data-char="Disease">{{system.resistances.Disease.final}}</td>
    </tr>

    <tr>
      <td>Venom</td>
      <td>
        <input
          type="number"
          class="mod-input-resize-res"
          name="system.resistances.Venom.bonus"
          value="{{system.resistances.Venom.bonus}}"
        />
      </td>
      <td class="res-roll" data-char="Venom">{{system.resistances.Venom.final}}</td>
    </tr>

    <tr>
      <td>Magic</td>
      <td>
        <input
          type="number"
          class="mod-input-resize-res"
          name="system.resistances.Magic.bonus"
          value="{{system.resistances.Magic.bonus}}"
        />
      </td>
    <td class="res-roll" data-char="Magic">{{system.resistances.Magic.final}}</td>
    </tr>

    <tr>
      <td>Psychic</td>
      <td>
        <input
          type="number"
          class="mod-input-resize-res"
          name="system.resistances.Psychic.bonus"
          value="{{system.resistances.Psychic.bonus}}"
        />
      </td>
      <td class="res-roll" data-char="Psychic">{{system.resistances.Psychic.final}}</td>
    </tr>
  </table>
</section>