<section class="resistances-section">
  <h3>Resistances</h3>

  <table class="resistances-table">
    <tr>
      <th></th>
      <th>Modifier</th>
      <th>Final</th>
    </tr>

    <tr>
      <td>Physical</td>
      <td>
        <input
          type="number"
          class="mod-input-resize-res"
          name="system.resistances.physical.mod"
          value="{{system.resistances.physical.mod}}"
        />
      </td>
      <td><input
          type="number"
          value="{{system.resistances.physical.final}}"
          disabled
        /></td>
    </tr>

    <tr>
      <td>Disease</td>
      <td>
        <input
          type="number"
          class="mod-input-resize-res"
          name="system.resistances.disease.mod"
          value="{{system.resistances.disease.mod}}"
        />
      </td>
      <td><input
          type="number"
          value="{{system.resistances.disease.final}}"
          disabled
        /></td>
    </tr>

    <tr>
      <td>Venom</td>
      <td>
        <input
          type="number"
          class="mod-input-resize-res"
          name="system.resistances.venom.mod"
          value="{{system.resistances.venom.mod}}"
        />
      </td>
      <td><input
          type="number"
          value="{{system.resistances.venom.final}}"
          disabled
        /></td>
    </tr>

    <tr>
      <td>Magic</td>
      <td>
        <input
          type="number"
          class="mod-input-resize-res"
          name="system.resistances.magic.mod"
          value="{{system.resistances.magic.mod}}"
        />
      </td>
      <td><input
          type="number"
          value="{{system.resistances.magic.final}}"
          disabled
        /></td>
    </tr>

    <tr>
      <td>Psychic</td>
      <td>
        <input
          type="number"
          class="mod-input-resize-res"
          name="system.resistances.psychic.mod"
          value="{{system.resistances.psychic.mod}}"
        />
      </td>
      <td><input
          type="number"
          value="{{system.resistances.psychic.final}}"
          disabled
        /></td>
    </tr>
  </table>
</section>