<section>
  <div class="spells-grid">
    <div class="spells-left">
      <div class="spells-grid">
        <div class="spells-left">
          <section class="magic-projection block">
            <h3>
              Psychic Potential
            </h3>
            <div class="field-row">
              <label class="path-name">
                Permanent Bonus
              </label>
              <span
                class="path-name spend-psychic-points clickable"
                data-tooltip="Spend PP to increase Psychic Potential"
              >
                {{system.abilities.primary.Psychic.PsychicPotential.permanentBonus}}
              </span>
            </div>

            <div class="field-row">
              <label class="path-name">
                Final
              </label>
              <span class="path-name">
                {{system.abilities.primary.Psychic.PsychicPotential.final}}
              </span>
            </div>
          </section>
          <section>
            <h3>
              Psychic Projection
            </h3>

            <div class="field-row">
              <label class="path-name">
                Bonus
              </label>
              <span class="path-name">
                {{system.abilities.primary.Psychic.PsychicProjection.bonus}}
              </span>
            </div>

            <div class="field-row">
              <label class="path-name">
                Final
              </label>
              <span class="path-name">
                {{system.abilities.primary.Psychic.PsychicProjection.final}}
              </span>
            </div>
          </section>
          <section>
            <h3>
              Innate Power Slots
            </h3>
            <div class="imbalance-group">
              <div class="imbalance-row">
                <div class="imbalance-field">
                  <label class="path-name">
                    Available
                  </label>
                  <span class="path-name">
                    {{system.psychic.innateSlotsAvailable}}
                  </span>
                </div>

                <div class="imbalance-field">
                  <label class="path-name">
                    Total
                  </label>
                  <span class="path-name innate-slot-manual clickable" data-tooltip="Spend PP to increase Innate Slots">
                    {{system.abilities.primary.Psychic.PsychicPoints.innateSlots}}
                  </span>
                </div>
              </div>
            </div>
          </section>
          <section>
            <h3>
              Psychic Points
            </h3>
            <div class="field-row">
              <label class="path-name">
                Base
              </label>
              <span class="path-name">
                {{system.abilities.primary.Psychic.PsychicPoints.base}}
              </span>
            </div>

            <div class="field-row">
              <label class="path-name">
                Bonus
              </label>
              <span class="path-name">
                {{system.abilities.primary.Psychic.PsychicPoints.bonus}}
              </span>
            </div>

            <div class="field-row">
              <label class="path-name">
                Class
              </label>
              <span class="path-name">
                {{system.abilities.primary.Psychic.PsychicPoints.class}}
              </span>
            </div>

            <div class="field-row">
              <label class="path-name">
                Spent Permanent
              </label>
              <span class="path-name">
                {{system.psychic.pp.permanentSpent}}
              </span>
            </div>

            <div class="field-row">
              <label class="path-name">
                Final
              </label>
              <span class="path-name">
                {{system.abilities.primary.Psychic.PsychicPoints.final}}
              </span>
            </div>
            <div class="imbalance-group">
              <div class="imbalance-row">
                <div class="imbalance-field">
                  <label class="path-name">
                    Free PP Used
                  </label>
                  <span class="path-name clickable pp-current-manual" data-tooltip="Click to manually edit">
                    {{system.abilities.primary.Psychic.PsychicPoints.temp}}
                  </span>
                </div>

                <div class="imbalance-field">
                  <label class="path-name">
                    Remaining
                  </label>
                  <span class="path-name">
                    {{system.psychic.pp.remaining}}
                  </span>
                </div>
              </div>
            </div>
          </section>
        </div>
        <div class="spells-right">
          <section>
            <h3>
              Psychic Disciplines
              {{#if @root.actor.system.lockUi}}
              {{else}}
                <a class="add-psychic-discipline" data-tooltip="Add Discipline"><i class="fas fa-plus-circle"></i></a>
              {{/if}}
            </h3>

            <table class="classes-table">
              <thead>
                <tr>
                  <th>
                    Name
                  </th>
                  <th></th>
                </tr>
              </thead>

              <tbody>
                {{#each system.psychic.disciplines as |discipline idx|}}
                  <tr>
                    <td
                      class="clickable discipline-name"
                      data-name="{{discipline.name}}"
                      data-tooltip="Click to open journal entry"
                    >
                      {{discipline.name}}
                    </td>

                    {{#if @root.actor.system.lockUi}}
                      <td></td>
                    {{else}}
                      <td>
                        <a class="delete-psychic-discipline" data-index="{{idx}}" data-tooltip="Delete Discipline">
                          <i class="fas fa-trash"></i>
                        </a>
                      </td>
                    {{/if}}
                  </tr>
                {{/each}}
              </tbody>
            </table>
          </section>
        </div>
      </div>
    </div>

    <div class="spells-right">
      <section>
        <h3>
          Innate Mental Powers
        </h3>

        <div class="innate-mental-powers-grid">
          {{#each system.psychic.mentalPowers as |power idx|}}
            {{#if power.innate}}
              <div class="power-item" data-index="{{idx}}">
                <!-- DISCIPLINE HEADER BAR -->
                <div class="power-discipline-bar">
                  <h4
                    class="clickable discipline-name"
                    data-name="{{power.discipline}}"
                    data-tooltip="Click to open journal entry"
                  >
                    {{power.discipline}}
                  </h4>
                </div>

                <!-- HEADER -->
                <div class="power-header">
                  <!-- FIRST ROW: NAME + CHEVRON -->
                  <div class="power-header-top">
                    <span class="power-name abf-text">
                      {{power.name}}
                    </span>

                    <button class="toggle-power clickable">
                      <i class="fas fa-chevron-down"></i>
                    </button>
                  </div>

                  <!-- SECOND ROW: TABLE-LIKE HEADER -->
                  <div class="power-header-table abf-text">
                    <div class="power-header-row power-header-row--labels">
                      <span>
                        Level
                      </span>
                      <span>
                        Action
                      </span>
                      <span>
                        Innate
                      </span>
                      <span>
                        Active
                      </span>
                    </div>
                    <div class="power-header-row power-header-row--values">
                      <span>
                        {{#ifEquals power.discipline "Matrix Powers"}}
                          -
                        {{else}}
                          {{power.level}}
                        {{/ifEquals}}
                      </span>
                      <span>
                        {{power.action}}
                      </span>
                      <span
                        class="clickable mental-power-innate"
                        data-index="{{idx}}"
                        data-tooltip="Set mental power as innate"
                      >
                        {{#if power.innate}}
                          <i class="fas fa-check"></i>
                        {{else}}
                          <i class="fas fa-times"></i>
                        {{/if}}
                      </span>
                      <span
                        class="clickable mental-power-active"
                        data-index="{{idx}}"
                        data-tooltip="Set mental power as active"
                      >
                        {{#if power.isActive}}
                          <i class="fas fa-check"></i>
                        {{else}}
                          <i class="fas fa-times"></i>
                        {{/if}}
                      </span>
                    </div>
                  </div>
                </div>

                <!-- BODY -->
                <div class="power-body">
                  <p class="abf-text">
                    <strong>
                      Description:
                    </strong>
                    {{power.description}}
                  </p>

                  {{#if power.modifiers}}
                    <h4>
                      Modifiers
                    </h4>
                    <div class="abf-text modifiers">
                      {{{power.modifiers}}}
                    </div>
                  {{/if}}

                  <h4>
                    Effects
                  </h4>
                  <table class="classes-table">
                    <thead>
                      <tr>
                        <th>
                          Difficulty
                        </th>
                        <th>
                          Effect
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      {{#each power.effects}}
                        <tr>
                          <td class="abf-text">
                            <strong>
                              {{this.difficulty}}
                            </strong>
                          </td>
                          <td class="abf-text">
                            {{this.effect}}
                          </td>
                        </tr>
                      {{/each}}
                    </tbody>
                  </table>
                  <div class="power-actions-bottom">
                    <button class="psychic-attack-roll button" data-index="{{idx}}">
                      Cast
                    </button>
                    <button class="delete-mental-power button" data-index="{{idx}}">
                      Remove
                    </button>
                  </div>
                </div>
              </div>
            {{/if}}
          {{/each}}
        </div>
      </section>
    </div>
  </div>
</section>