<div class="abf-effects-list">
  <h3>
    Global Modifiers
  </h3>

  <div class="global-mods">
    {{#each globalModifiers as |mod modName|}}
      <div class="effect-row flexrow">
        <div class="effect-info">
          <div class="effect-name">
            {{modName}}
          </div>

          <div class="effect-mods">
            <div class="mod-entry">
              <b>
                Total:
              </b>
              {{mod.final}}
            </div>

            <div class="mod-entry small">
              <b>
                Base:
              </b>
              {{mod.base}}
              <b>
                Special:
              </b>
              {{mod.special}}
              <b>
                Armor:
              </b>
              {{mod.armor}}
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  </div>

  <hr />

  <h3>
    Active Effects
  </h3>

  {{#if effects.length}}
    {{#each effects}}
      <div class="effect-row flexrow">
        <div class="effect-info">
          <div class="effect-name">
            {{this.name}}
          </div>

          {{#if this.flags.abf.modifiers}}
            <div class="effect-mods">
              {{#each this.flags.abf.modifiers}}
                <div class="mod-entry">
                  <b>
                    {{@key}}:
                  </b>
                  {{this.value}} ({{this.type}})
                </div>
              {{/each}}
            </div>
          {{/if}}
        </div>

        <a class="effect-remove" data-effect-id="{{this.id}}">
          <i class="fas fa-trash"></i>
        </a>
      </div>
    {{/each}}
  {{else}}
    <p>No active effects.</p>
  {{/if}}
</div>