<form class="advantage">
    <div class="selector-column">
        <select class="advantage-selector">
        {{#each advantageOptions as |adv|}}
        <option value="{{adv}}" {{#ifEquals adv ../selectedAdvantage}}selected{{/ifEquals}}>
            {{advName adv}}
        </option>
        {{/each}}
        </select>

        <button type="button" class="confirm-add">OK</button>

    </div>

    <section>
        <h3>Effects</h3>
        <p>{{advantageData.effects}}</p>
    </section>

    {{#if advantageData.restriction}}
        <section>
            <h3>Restriction</h3>
            <p>{{advantageData.restriction}}</p>
        </section>
    {{/if}}

    {{#ifEquals advantageData.name "Aptitude in a Subject"}}
        <section>
            <h3>Secondary Ability</h3>
            <select class="ability-selector">
                {{#each secondaryAbilities as |abil|}}
                <option value="{{abil}}" {{#ifEquals abil ../advantageData.special}}selected{{/ifEquals}}>
                    {{humanize abil}}
                </option>
                {{/each}}
            </select>
            <p>{{advantageData.special}}</p>
        </section>
    {{/ifEquals}}

    {{#if advantageData.special}}
        <section>
            <h3>Special</h3>
            <p>{{advantageData.special}}</p>
        </section>
    {{/if}}

    <section>
        <h3>Cost</h3>
        <input
        class="advantage-cost-input"
        type="number"
        value="{{advantageData.cost}}"
        name="{{advantageData.cost}}"
        />
    </section>

    <section>
        <h3>Description</h3>
        <p>{{advantageData.description}}</p>
    </section>
</form>