<div class="advantage">
  <section>
    <h3>
      Modifier
    </h3>
    <input type="number" id="atkMod" value="{{atkMod}}" style="width: 100%;" />
  </section>

  {{#if isSpellAttack}}
    <section>
      <h3>
        Spell Cost
      </h3>
      <input type="number" id="zeonCost" value="{{zeonCost}}" style="width: 100%;" />
    </section>
  {{/if}}

  {{#if isPsychicAttack}}
    <section style="margin-top: 1em;">
      <h3>
        Spend Free PP (Max: 5)
      </h3>
      <select id="ppProjectionSpend" class="selector" data-edit="false" style="width: 100%;">
        {{#each ppProjectionOptions}}
          <option value="{{this}}" {{#ifEquals this ../ppSpent}}selected{{/ifEquals}}>
            {{this}} PP (+{{multiply this 10}})
          </option>
        {{/each}}
      </select>
  {{/if}}

  {{#ifEither isSpellAttack isPsychicAttack}}
    <section>
      <h3>
        AOE?
      </h3>
      <div class="clickable aoe-toggle">
        {{#if isAOE}}
          <i class="fas fa-check"></i>
        {{else}}
          <i class="fas fa-times"></i>
        {{/if}}
      </div>
    </section>
  {{/ifEither}}

  <section style="margin-top: 1em;">
    <h3>
      Directed Attack
    </h3>
    <select id="directedAttack" class="selector" style="width: 100%;">
      {{#each directedOptions}}
        <option value="{{this.name}}">{{humanize this.name}} ({{this.value}})</option>
      {{/each}}
    </select>
  </section>
  <section style="margin-top: 1em;">
    <h3>
      Combat Modifier
    </h3>
    <select id="combatModifier" class="selector" style="width: 100%;">
      {{#each combatModifiers}}
        <option value="{{this.name}}">{{humanize this.name}} ({{this.attack}})</option>
      {{/each}}
    </select>
  </section>
  <section style="margin-top: 1em;">
    <h3>
      Attack Type
    </h3>
    <select id="attackType" class="selector" style="width: 100%;">
      {{#each attackTypes}}
        <option value="{{this}}">{{humanize this}}</option>
      {{/each}}
    </select>
  </section>

  <button class="confirm-add button" style="margin-top: 1em; width: 100%;">
    Roll:
    <span id="totalMod">
      0
    </span>
  </button>
</div>