<div class="advantage">
  <section>
    <h3>
      Modifier
    </h3>
    <input type="number" id="defMod" value="{{modifier}}" style="width: 100%;" />
  </section>
  <section>
    <p>
      <b>
        Incoming Attack:
      </b>
      {{attack.attackValue}}
    </p>
    <p>
      Weapon: {{humanize attack.weaponType}}
    </p>
    <p>
      Type: {{humanize attack.attackType}}
    </p>
    <p
      data-tooltip="If defending against an AOE attack. It's -120 to block and -80 to dodge. Unless you have enough 1/4 movement to escape the radius, in that case there is no penalty."
    >
      AOE:
      {{#if attack.isAOE}}
        <i class="fas fa-check"></i>
      {{else}}
        <i class="fas fa-times"></i>
      {{/if}}
    </p>
  </section>
  <section style="margin-top: 1em;">
    <h3>
      Combat Modifier
    </h3>
    <select id="combatModifier" class="selector" style="width: 100%;">
      {{#each combatModifiers}}
        <option value="{{this.name}}">{{humanize this.name}} (Block: {{this.block}}, Dodge: {{this.dodge}})</option>
      {{/each}}
    </select>
  </section>

  {{#if manual}}
    <section style="margin-top: 1em;">
      <h3>
        Manual Defense Value
      </h3>
      <input type="number" id="manualDefense" value="{{defenseValue}}" style="width: 100%;" />
      <h3>
        AT Value
      </h3>
      <input type="number" id="manualAT" value="{{manualAT}}" style="width: 100%;" />

      <h3>
        Has Shield
      </h3>
      <div class="clickable shield-toggle">
        {{#if hasShield}}
          <i class="fas fa-check"></i>
        {{else}}
          <i class="fas fa-times"></i>
        {{/if}}
      </div>
    </section>
  {{/if}}

  <section style="margin-top: 1em;">
    <h3>
      Defense Type
    </h3>
    <div class="defense-buttons">
      <button id="block" class="def-btn button" data-type="block">
        Block: {{block}}
      </button>
      <button id="dodge" class="def-btn button" data-type="dodge">
        Dodge: {{dodge}}
      </button>
      <button id="projection" class="def-btn button" data-type="projection">
        Projection: {{projection}}
      </button>
    </div>
  </section>
</div>