<div class="advantage">
  <section>
    <h3>
      Modifier
    </h3>
    <input type="number" id="defMod" value="{{modifier}}" style="width: 100%;" />
  </section>
  <section>
    <p>
      <b>
        Incoming Attack:
      </b>
      {{attack.attackValue}}
    </p>
    <p>
      Region: {{humanize attack.directed}}
    </p>
    <p>
      Weapon: {{humanize attack.weaponType}}
    </p>
    <p>
      Type: {{humanize attack.attackType}}
    </p>
    <p
      data-tooltip="If defending against an AOE attack. It's -120 to block and -80 to dodge. Unless you have enough 1/4 movement to escape the radius, in that case there is no penalty."
    >
      AOE:
      {{#if attack.isAOE}}
        <i class="fas fa-check"></i>
      {{else}}
        <i class="fas fa-times"></i>
      {{/if}}
    </p>
  </section>

  <section style="margin-top: 1em;">
    <h3>
      Defense Type
    </h3>
    <div class="defense-buttons">
      <button class="def-btn button" data-type="block">
        Block
      </button>
      <button class="def-btn button" data-type="dodge">
        Dodge
      </button>
      <button class="def-btn button" data-type="projection">
        Projection
      </button>
    </div>
  </section>
  {{#if manual}}
    <section>
      <h3>
        Manual Defense Value
      </h3>
      <input type="number" id="manualDefense" value="{{defenseValue}}" style="width: 100%;" />
    </section>

    <section style="margin-top: 1em;">
      <h3>
        Attack Modifier
      </h3>
      <input type="number" id="manualMod" value="{{modifier}}" style="width: 100%;" />

      <h3>
        AT Value
      </h3>
      <input type="number" id="manualAT" value="{{manualAT}}" style="width: 100%;" />
    </section>
  {{/if}}
</div>