<div class="npc-power-browser">
  <!-- TAB HEADERS -->
  <div class="sheet-tabs browser-controls">
    <button class="item" data-tab="available-tab">
      Available Powers
    </button>
    <button class="item" data-tab="owned-tab">
      Learned Powers
    </button>
  </div>

  <!-- AVAILABLE TAB -->
  <div id="available-tab" class="tab-content">
    {{#if available.length}}
      <div class="effects-grid">
        {{#each available}}
          <div class="gift-entry power-card">
            <div class="power-content">
              <h4>
                {{this.name}}
              </h4>

              {{#ifEquals this.discipline "Matrix Powers"}}
              {{else}}
                <p class="abf-text">
                  <strong>
                    Level:
                  </strong>
                  {{this.level}}
                </p>
              {{/ifEquals}}
              <p class="abf-text">
                <strong>
                  Discipline:
                </strong>
                {{this.discipline}}
              </p>
              <p class="abf-text">
                <strong>
                  Action:
                </strong>
                {{this.action}}
              </p>
              <p class="abf-text">
                <strong>
                  Maintenance:
                </strong>

                {{#if this.maintenance}}
                  Yes
                {{else}}
                  No
                {{/if}}
              </p>

              <p class="description abf-text">
                {{this.description}}
              </p>

              <table class="classes-table">
                <thead>
                  <tr>
                    <th>
                      Difficulty
                    </th>
                    <th>
                      Effect
                    </th>
                  </tr>
                </thead>
                <tbody>
                  {{#each this.effects}}
                    <tr>
                      <td class="abf-text">
                        <strong>
                          {{this.difficulty}}
                        </strong>
                      </td>
                      <td class="abf-text">
                        {{this.effect}}
                      </td>
                    </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>

            <div class="power-actions-bottom">
              <button class="buy-power button" data-key="{{this.key}}">
                Learn
              </button>
            </div>
          </div>
        {{/each}}
      </div>
    {{else}}
      <p class="abf-text">No more powers available.</p>
    {{/if}}
  </div>

  <!-- OWNED TAB -->
  <div id="owned-tab" class="tab-content">
    {{#if owned.length}}
      <div class="effects-grid">
        {{#each owned}}
          <div class="gift-entry purchased power-card">
            <div class="power-content">
              <h4>
                {{this.name}}
              </h4>

              <p class="abf-text">
                <strong>
                  Level:
                </strong>
                {{this.level}}
              </p>
              <p class="abf-text">
                <strong>
                  Action:
                </strong>
                {{this.action}}
              </p>
              <p class="abf-text">
                <strong>
                  Maintenance:
                </strong>

                {{#if this.maintenance}}
                  Yes
                {{else}}
                  No
                {{/if}}
              </p>

              <p class="description abf-text">
                {{this.description}}
              </p>

              <table class="classes-table">
                <thead>
                  <tr>
                    <th>
                      Difficulty
                    </th>
                    <th>
                      Effect
                    </th>
                  </tr>
                </thead>
                <tbody>
                  {{#each this.effects}}
                    <tr>
                      <td class="abf-text">
                        <strong>
                          {{this.difficulty}}
                        </strong>
                      </td>
                      <td class="abf-text">
                        {{this.effect}}
                      </td>
                    </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>

            <div class="power-actions-bottom">
              <button class="remove-power button" data-index="{{@index}}">
                Remove
              </button>
            </div>
          </div>
        {{/each}}
      </div>
    {{else}}
      <p class="abf-text">No powers learned yet.</p>
    {{/if}}
  </div>
</div>