<div class="npc-power-browser">
  <!-- FILTER BAR -->
  <div class="browser-filters">
    <input type="text" class="power-search" placeholder="Search powers..." />

    <select class="power-filter-discipline select">
      <option value="">
        All Disciplines
      </option>
      {{#each disciplines}}
        <option value="{{this}}">{{this}}</option>
      {{/each}}
    </select>
  </div>

  <!-- AVAILABLE POWERS -->
  {{#if available.length}}
    <div class="effects-grid">
      {{#each available}}
        <div class="gift-entry power-card">
          <div class="power-content">
            <h4>
              {{this.name}}
            </h4>

            {{#ifEquals this.discipline "Matrix Powers"}}
            {{else}}
              <p class="abf-text">
                <strong>
                  Level:
                </strong>
                {{this.level}}
              </p>
            {{/ifEquals}}

            <p class="abf-text power-discipline">
              <strong>
                Discipline:
              </strong>
              {{this.discipline}}
            </p>
            <p class="abf-text">
              <strong>
                Action:
              </strong>
              {{this.action}}
            </p>

            <p class="abf-text">
              <strong>
                Maintenance:
              </strong>
              {{#if this.maintenance}}
                Yes
              {{else}}
                No
              {{/if}}
            </p>

            <p class="description abf-text">
              {{this.description}}
            </p>

            <table class="classes-table">
              <thead>
                <tr>
                  <th>
                    Difficulty
                  </th>
                  <th>
                    Effect
                  </th>
                </tr>
              </thead>
              <tbody>
                {{#each this.effects}}
                  <tr>
                    <td class="abf-text">
                      <strong>
                        {{this.difficulty}}
                      </strong>
                    </td>
                    <td class="abf-text">
                      {{this.effect}}
                    </td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
          </div>

          <div class="power-actions-bottom">
            <button class="buy-power button" data-key="{{this.key}}">
              Learn
            </button>
          </div>
        </div>
      {{/each}}
    </div>
  {{else}}
    <p class="abf-text">No more powers available.</p>
  {{/if}}
</div>