<h3>Aspect</h3>
<table class="aspects-table">
  <tr><td>Hair</td><td><input
        class="aspect-input"
        type="text"
        name="system.aspects.hair"
        value="{{system.aspects.hair}}"
      /></td></tr>
  <tr><td>Eyes</td><td><input
        class="aspect-input"
        type="text"
        name="system.aspects.eyes"
        value="{{system.aspects.eyes}}"
      /></td></tr>
  <tr><td>Height</td><td><input
        class="aspect-input"
        type="text"
        name="system.aspects.height"
        value="{{system.aspects.height}}"
      /></td></tr>
  <tr><td>Weight</td><td><input
        class="aspect-input"
        type="number"
        name="system.aspects.weight"
        value="{{system.aspects.weight}}"
      /></td></tr>
  <tr><td>Gender</td><td><input
        class="aspect-input"
        type="text"
        name="system.aspects.gender"
        value="{{system.aspects.gender}}"
      /></td></tr>
  <tr><td>Race</td><td><input
        class="aspect-input"
        type="text"
        name="system.aspects.race"
        value="{{system.aspects.race}}"
      /></td></tr>
  <tr><td>Ethnicity</td><td><input
        class="aspect-input"
        type="text"
        name="system.aspects.ethnicity"
        value="{{system.aspects.ethnicity}}"
      /></td></tr>
  <tr><td>Appearance</td><td><input
        class="aspect-input"
        type="number"
        name="system.aspects.appearance"
        value="{{system.aspects.appearance}}"
      /></td></tr>
  <tr><td>Age</td><td><input
        class="aspect-input"
        type="number"
        name="system.aspects.age"
        value="{{system.aspects.age}}"
      /></td></tr>
  <tr><td>Size</td><td><input
        class="aspect-input"
        type="number"
        name="system.aspects.size.bonus"
        data-tooltip="Size = Strength Base + Constitution Base by default. Current Base Size is: {{system.aspects.size.final}}"
        value="{{system.aspects.size.bonus}}"
      /></td></tr>
</table>