<h3>Total Level: {{system.level}}</h3>

<table class="classes-table">
  <thead>
    <tr>
      <th>Class</th>
      <th>Level</th>
      {{#if @root.actor.system.lockUi}}
        <th></th>
      {{else}}
        <th class="class-actions-header">
          <a class="add-class" data-tooltip="Add Class">
            <i class="fas fa-plus-circle"></i>
          </a>
        </th>
      {{/if}}
    </tr>
  </thead>

  <tbody>
    {{#each system.classes as |cls idx|}}
      <tr>
        <td class="class-name clickable-class" data-index="{{idx}}" data-class="{{cls.name}}" data-tooltip="Click to see Class details.">
          {{cls.name}}
        </td>

        <td>
          <input
            type="number"
            class="class-level-input"
            data-index="{{idx}}"
            value="{{cls.level}}"
            min="1"
            {{#if @root.actor.system.lockUi}}disabled{{/if}}
          />
        </td>
        {{#if @root.actor.system.lockUi}}<td></td>{{else}}
        <td>
          <a class="delete-class" data-index="{{idx}}" data-tooltip="Delete Class">
            <i class="fas fa-trash"></i>
          </a>
        </td>
        {{/if}}
      </tr>
    {{/each}}
  </tbody>
</table>