<section class="final-armor-section">
  <h3>
    Armor
  </h3>

  <table class="final-armor-table">
    <tr>
      <td>
        Cut
      </td>
      <td>
        Impact
      </td>
      <td>
        Thrust
      </td>
      <td>
        Heat
      </td>
      <td>
        Electricity
      </td>
      <td>
        Cold
      </td>
      <td>
        Energy
      </td>
    </tr>

    <tr>
      <td>
        <input
          class="input-expand"
          type="number"
          name="system.finalArmor.total.cut"
          data-tooltip="These are cutting or slashing attacks that leave long and bloody wounds. They possess a sharpened edge. Body: {{system.finalArmor.body.cut}}, Head: {{system.finalArmor.head.cut}}"
          value="{{system.finalArmor.total.cut}}"
        />
      </td>
      <td>
        <input
          class="input-expand"
          type="number"
          name="system.finalArmor.total.imp"
          data-tooltip="These are crushing or smashing blows. The damage done is from the weight and force of the blow. Body: {{system.finalArmor.body.imp}}, Head: {{system.finalArmor.head.imp}}"
          value="{{system.finalArmor.total.imp}}"
        />
      </td>
      <td>
        <input
          class="input-expand"
          type="number"
          name="system.finalArmor.total.thr"
          data-tooltip="These are penetrating attacks that puncture and run through the body. The weapons involved usually have a sharp pointed end. Body: {{system.finalArmor.body.thr}}, Head: {{system.finalArmor.head.thr}}"
          value="{{system.finalArmor.total.thr}}"
        />
      </td>
      <td>
        <input
          class="input-expand"
          type="number"
          name="system.finalArmor.total.hea"
          data-tooltip=" These attacks are based on the effects of high temperatures. They cause burns and abrasive wounds. Body: {{system.finalArmor.body.hea}}, Head: {{system.finalArmor.head.hea}}"
          value="{{system.finalArmor.total.hea}}"
        />
      </td>
      <td>
        <input
          class="input-expand"
          type="number"
          name="system.finalArmor.total.ele"
          data-tooltip=" These attacks are based on the shock of electrical discharges, like those caused by lightning. Body: {{system.finalArmor.body.ele}}, Head: {{system.finalArmor.head.ele}}"
          value="{{system.finalArmor.total.ele}}"
        />
      </td>
      <td>
        <input
          class="input-expand"
          type="number"
          name="system.finalArmor.total.col"
          data-tooltip="These attacks produce damage from freezing. They are caused by ice and extreme low temperatures. Body: {{system.finalArmor.body.col}}, Head: {{system.finalArmor.head.col}}"
          value="{{system.finalArmor.total.col}}"
        />
      </td>
      <td>
        <input
          class="input-expand"
          type="number"
          name="system.finalArmor.total.ene"
          data-tooltip="These are attacks of mystical origin that affect the soul and essence of an opponent. Body: {{system.finalArmor.body.ene}}, Head: {{system.finalArmor.head.ene}}"
          value="{{system.finalArmor.total.ene}}"
        />
      </td>
    </tr>
  </table>
</section>