<section class="resistances-section">
  <h3>Resistances</h3>

  <table class="resistances-table">
    <tr>
      <th></th>
      <th>Bonus</th>
      <th>Final</th>
    </tr>

    <tr>
      <td data-tooltip="Represents a character’s tolerance for damage and shock. PhR allows characters to avoid falling unconscious and overcome the effects of criticals. Based on Constitution Final.">Physical</td>
      <td>
        <input
          type="number"
          class="mod-input-resize-res"
          name="system.resistances.Physical.bonus"
          value="{{system.resistances.Physical.bonus}}"
          data-tooltip="Physical Resistance Bonus"
          {{#if actor.system.lockUi}}disabled{{/if}}
        />
      </td>
    <td class="res-roll" data-char="Physical" data-tooltip="Click to roll Resistance Check.">{{system.resistances.Physical.final}}</td>
    </tr>

    <tr>
      <td data-tooltip="Represents a character’s ability to avoid falling ill or being affected by a disease. DR also indicates how quickly a character can recuperate from an illness. Based on Constitution Final.">Disease</td>
      <td>
        <input
          type="number"
          class="mod-input-resize-res"
          name="system.resistances.Disease.bonus"
          value="{{system.resistances.Disease.bonus}}"
          data-tooltip="Disease Resistance Bonus"
          {{#if actor.system.lockUi}}disabled{{/if}}
        />
      </td>
      <td class="res-roll" data-char="Disease" data-tooltip="Click to roll Resistance Check.">{{system.resistances.Disease.final}}</td>
    </tr>

    <tr>
      <td data-tooltip="Represents a character’s Resistance to venom, poison, and toxic environmental effects. VR allows a character to alleviate or overcome the effects of poison. Based on Constitution Final.">Venom</td>
      <td>
        <input
          type="number"
          class="mod-input-resize-res"
          name="system.resistances.Venom.bonus"
          value="{{system.resistances.Venom.bonus}}"
          data-tooltip="Venom Resistance Bonus"
          {{#if actor.system.lockUi}}disabled{{/if}}
        />
      </td>
      <td class="res-roll" data-char="Venom" data-tooltip="Click to roll Resistance Check.">{{system.resistances.Venom.final}}</td>
    </tr>

    <tr>
      <td data-tooltip=" Represents how well a character can resist the effects of a spell or of an ability of supernatural origin. Based on Power Final.">Magic</td>
      <td>
        <input
          type="number"
          class="mod-input-resize-res"
          name="system.resistances.Magic.bonus"
          value="{{system.resistances.Magic.bonus}}"
          data-tooltip="Magic Resistance Bonus"
          {{#if actor.system.lockUi}}disabled{{/if}}
        />
      </td>
    <td class="res-roll" data-char="Magic" data-tooltip="Click to roll Resistance Check.">{{system.resistances.Magic.final}}</td>
    </tr>

    <tr>
      <td data-tooltip="Represents a character’s force of will which allows him to resist psychic attacks and any mind-altering attacks. Based on Willpower Final.">Psychic</td>
      <td>
        <input
          type="number"
          class="mod-input-resize-res"
          name="system.resistances.Psychic.bonus"
          value="{{system.resistances.Psychic.bonus}}"
          data-tooltip="Psychic Resistance Bonus"
          {{#if actor.system.lockUi}}disabled{{/if}}
        />
      </td>
      <td class="res-roll" data-char="Psychic" data-tooltip="Click to roll Resistance Check.">{{system.resistances.Psychic.final}}</td>
    </tr>
  </table>
</section>