<section>
  <div class="spells-grid">
    <div class="spells-left">
      <div class="spells-grid">
        <div class="spells-left">
          <section class="magic-projection block">
            <h3>
              Psychic Potential
            </h3>
            <div class="field-row">
              <label class="path-name">
                Permanent Bonus
              </label>
              <span class="path-name">
                {{system.abilities.primary.Psychic.PsychicPotential.permanentBonus}}
              </span>
            </div>

            <div class="field-row">
              <label class="path-name">
                Final
              </label>
              <span class="path-name">
                {{system.abilities.primary.Psychic.PsychicPotential.final}}
              </span>
            </div>
          </section>
          <section>
            <h3>
              Psychic Projection
            </h3>

            <div class="field-row">
              <label class="path-name">
                Final
              </label>
              <span class="path-name">
                {{system.abilities.primary.Psychic.PsychicProjection.final}}
              </span>
            </div>
          </section>
          <section>
            <h3>
              Psychic Points
              {{#if @root.actor.system.lockUi}}
              {{else}}
                <a class="spend-psychic-points" data-tooltip="Spend Psychic Points">
                  <i class="fas fa-plus-circle"></i>
                </a>
              {{/if}}
            </h3>
          </section>
        </div>
        <div class="spells-right">
          <section>
            <h3>
              Psychic Disciplines
              {{#if @root.actor.system.lockUi}}
              {{else}}
                <a class="add-psychic-discipline" data-tooltip="Add Discipline"><i class="fas fa-plus-circle"></i></a>
              {{/if}}
            </h3>

            <table class="classes-table">
              <thead>
                <tr>
                  <th>
                    Name
                  </th>
                  <th></th>
                </tr>
              </thead>

              <tbody>
                {{#each system.psychic.disciplines as |discipline idx|}}
                  <tr>
                    <td
                      class="clickable discipline-name"
                      data-name="{{discipline.name}}"
                      data-tooltip="Click to open journal entry"
                    >
                      {{discipline.name}}
                    </td>

                    {{#if @root.actor.system.lockUi}}
                      <td></td>
                    {{else}}
                      <td>
                        <a class="delete-psychic-discipline" data-index="{{idx}}" data-tooltip="Delete Discipline">
                          <i class="fas fa-trash"></i>
                        </a>
                      </td>
                    {{/if}}
                  </tr>
                {{/each}}
              </tbody>
            </table>
          </section>
        </div>
      </div>
    </div>

    <div class="spells-right">
      <section>
        <h3>
          Innate Psychic Powers
        </h3>
      </section>
    </div>
  </div>
</section>