<section class="common-fields">
  <div class="section-block">
    <h3>
      AT Values
    </h3>
    <table class="common-table">
      <tr>
        <th>
          Cut
        </th>
        <th>
          Impact
        </th>
        <th>
          Thrust
        </th>
        <th>
          Heat
        </th>
        <th>
          Electricity
        </th>
        <th>
          Cold
        </th>
        <th>
          Energy
        </th>
      </tr>
      <tr>
        <td>
          <input type="number" name="system.armorType.cut.base" value="{{system.armorType.cut.base}}" />
        </td>
        <td>
          <input type="number" name="system.armorType.imp.base" value="{{system.armorType.imp.base}}" />
        </td>
        <td>
          <input type="number" name="system.armorType.thr.base" value="{{system.armorType.thr.base}}" />
        </td>
        <td>
          <input type="number" name="system.armorType.hea.base" value="{{system.armorType.hea.base}}" />
        </td>
        <td>
          <input type="number" name="system.armorType.ele.base" value="{{system.armorType.ele.base}}" />
        </td>
        <td>
          <input type="number" name="system.armorType.col.base" value="{{system.armorType.col.base}}" />
        </td>
        <td>
          <input type="number" name="system.armorType.ene.base" value="{{system.armorType.ene.base}}" />
        </td>
      </tr>
    </table>
    <h3>
      Details
    </h3>
    <table class="common-table">
      <tr>
        <td>
          <label>
            Fortitude
          </label>
          <input
            type="number"
            name="system.fortitude.base"
            value="{{system.fortitude.base}}"
          />
        </td>
        <td>
          <label>
            Presence
          </label>
          <input
            type="number"
            name="system.presence.base"
            value="{{system.presence.base}}"
          />
        </td>
        <td>
          <label>
            Wear Armor Req
          </label>
          <input
            type="number"
            name="system.wearArmorReq.base"
            value="{{system.wearArmorReq.base}}"
          />
        </td>
        <td>
          <label>
            Movement Restrction
          </label>
          <input
            type="number"
            name="system.moveRestriction.base"
            value="{{system.moveRestriction.base}}"
          />
        </td>
        <td>
          <label>
            Natural Penalty
          </label>
          <input
            type="number"
            name="system.naturalPenalty.base"
            value="{{system.naturalPenalty.base}}"
          />
        </td>
        <td>
          <label>
            Quality
          </label>
          <input
            type="number"
            name="system.specialValue"
            value="{{system.specialValue}}"
          />
        </td>
      </tr>
    </table>
    <table class="common-table">
      <tr>
        <td>
          <label>
            Enchanted?
          </label>
        {{#if system.isEnchanted}}
          <i class="fas fa-check clickable armor-is-enchanted"></i>
        {{else}}
          <i class="fas fa-times clickable armor-is-enchanted"></i>
        {{/if}}
        </td>
        <td>
          <label>
            Armor Class
          </label>
          <select name="system.armorClass" class="armor-armorClass-select select">
            <option value="soft" {{#if (eq system.armorClass "soft")}}selected{{/if}}>Soft</option>
            <option value="hard" {{#if (eq system.armorClass "hard")}}selected{{/if}}>Hard</option>
        </select>
        </td>
        <td>
          <label>
            Location
          </label>
          <select name="system.location" class="armor-location-select select">
            {{#each (armorSection) as |sec|}}
              <option value="{{sec}}" {{#if (eq ../system.location sec)}}selected{{/if}}>
                {{humanize sec}}
              </option>
            {{/each}}
        </select>
        </td>
      </tr>
    </table>
  </div>
</section>