<div class="weapon-col">
  <!-- ZEON & MAINTENANCE -->
  <h3 class="section-header">
    Zeon & Maintenance
  </h3>
  <table class="common-table">
    <tr>
      <td>
        <label>
          Cost
        </label>
        <input type="number" name="system.cost" value="{{system.cost}}" />
      </td>
      <td>
        <label>
          Maintenance
        </label>
        <input type="text" name="system.maintenance" value="{{system.maintenance}}" />
      </td>
      <td>
        <label>
          Max Zeon
        </label>
        <input type="text" name="system.maxZeon" value="{{system.maxZeon}}" />
      </td>
    </tr>
  </table>

  {{#switch system.spellType}}
    {{#case "freeAccess"}}
      <h3 class="section-header">
        Restrictions
      </h3>
      {{#each system.closedPaths as |pathName pathKey|}}
        <div class="closed-path">{{humanize pathName}}</div>
      {{/each}}
    {{/case}}
  {{/switch}}

  {{#if (containsString system.typeOfSpell "Attack")}}
    <h3 class="section-header">
      Attack Spell
    </h3>

    <table class="common-table">
      <tr>
        <td>
          <label>
            Damage
          </label>
          <input type="number" name="system.spellDamage" value="{{system.spellDamage}}" />
        </td>
      </tr>
    </table>
  {{/if}}

  <h3 class="section-header">
    Effects
  </h3>
  <label>
    Added Effect
  </label>
  <div class="description-editor">
    {{#if system.addedEffect}}
      {{editor system.addedEffect target="system.addedEffect" button=true editable=true engine="prosemirror"}}
    {{else}}
      {{editor
        "<p class='placeholder'></p>"
        target="system.addedEffect"
        button=true
        editable=true
        engine="prosemirror"
      }}
    {{/if}}
  </div>
  <label>
    Effect
  </label>
  <div class="description-editor">
    {{#if system.effect}}
      {{editor system.effect target="system.effect" button=true editable=true engine="prosemirror"}}
    {{else}}
      {{editor "<p class='placeholder'></p>" target="system.effect" button=true editable=true engine="prosemirror"}}
    {{/if}}
  </div>
</div>