<div class="weapon-col">
    <section class="technique-main">

  <!-- PRIMARY & SECONDARY CHARACTERISTICS -->
  <div class="section-block">
    <h3>Primary Characteristic</h3>
    <table class="common-table">
      <thead>
        <tr>
          <th>Characteristic</th>
          <th>Ki Cost</th>
        </tr>
      </thead>

      <tbody>
        <!-- Primary Characteristic -->
        <tr>
          <td>
            <select name="system.primaryCharacteristic.char" class="technique-primary-char-input select">
                <option value="Agility" {{#if (eq system.primaryCharacteristic.char "Agility")}}selected{{/if}}>Agility</option>
                <option value="Constitution" {{#if (eq system.primaryCharacteristic.char "Constitution")}}selected{{/if}}>Constitution</option>
                <option value="Dexterity" {{#if (eq system.primaryCharacteristic.char "Dexterity")}}selected{{/if}}>Dexterity</option>
                <option value="Strength" {{#if (eq system.primaryCharacteristic.char "Strength")}}selected{{/if}}>Strength</option>
                <option value="Intelligence" {{#if (eq system.primaryCharacteristic.char "Intelligence")}}selected{{/if}}>Intelligence</option>
                <option value="Perception" {{#if (eq system.primaryCharacteristic.char "Perception")}}selected{{/if}}>Perception</option>
                <option value="Power" {{#if (eq system.primaryCharacteristic.char "Power")}}selected{{/if}}>Power</option>
                <option value="Willpower" {{#if (eq system.primaryCharacteristic.char "Willpower")}}selected{{/if}}>Willpower</option>
            </select>
          </td>

          <td>
            <input type="number"
              name="system.primaryCharacteristic.kiCost"
              value="{{system.primaryCharacteristic.kiCost}}"
            />
          </td>
        </tr>
      </tbody>
    </table>

    <h3>Secondary Characteristics</h3>
    <table class="common-table">
      <thead>
        <tr>
          <th>Characteristic</th>
          <th>Ki Cost</th>
        {{#if @root.actor.system.lockUi}}
          <th></th>
        {{else}}
          <th class="class-actions-header">
            <a class="technique-add-secondary" data-tooltip="Add Secondary">
              <i class="fas fa-plus-circle"></i>
            </a>
          </th>
        {{/if}}
        </tr>
      </thead>

      <tbody>
        {{#each system.secondaryCharacteristics as |secondary idx|}}
        <tr>
          <td>
            <select data-index="{{idx}}" name="{{secondary.char}}" class="technique-secondary-char-input select">
                <option value="Agility" {{#if (eq secondary.char "Agility")}}selected{{/if}}>Agility</option>
                <option value="Constitution" {{#if (eq secondary.char "Constitution")}}selected{{/if}}>Constitution</option>
                <option value="Dexterity" {{#if (eq secondary.char "Dexterity")}}selected{{/if}}>Dexterity</option>
                <option value="Strength" {{#if (eq secondary.char "Strength")}}selected{{/if}}>Strength</option>
                <option value="Intelligence" {{#if (eq secondary.char "Intelligence")}}selected{{/if}}>Intelligence</option>
                <option value="Perception" {{#if (eq secondary.char "Perception")}}selected{{/if}}>Perception</option>
                <option value="Power" {{#if (eq secondary.char "Power")}}selected{{/if}}>Power</option>
                <option value="Willpower" {{#if (eq secondary.char "Willpower")}}selected{{/if}}>Willpower</option>
            </select>
          </td>

        <td>
          <input
            class="technique-secondary-ki-input"
            type="number"
            data-index="{{idx}}"
            value="{{secondary.kiCost}}"
            min="0"
          />
        </td>
          {{#if @root.actor.system.lockUi}}
            <td></td>
          {{else}}
            <td>
              <a class="technique-secondary-delete" data-index="{{idx}}" data-tooltip="Delete Languages">
                <i class="fas fa-trash"></i>
              </a>
            </td>
          {{/if}}
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

  <!-- EFFECTS SECTION -->
  <div class="section-block">
    <h3>
    Technique Effects
    </h3>

    <table class="classes-table technique-effects-table">
    <thead>
        <tr>
        <th>
            Effect
        </th>
        <th>
            Type
        </th>
        <th>
            Purchased Levels
        </th>

        {{#if @root.actor.system.lockUi}}
            <th></th>
        {{else}}
            <th class="class-actions-header">
            <a class="technique-add-effect" data-tooltip="Add Technique Effect">
                <i class="fas fa-plus-circle"></i>
            </a>
            </th>
        {{/if}}
        </tr>
    </thead>

    <tbody>
        {{#each system.effects as |effect idx|}}
        <tr>
            <td
            class="technique-effect-name technique-clickable-effect clickable"
            data-index="{{idx}}"
            data-effect="{{effect.name}}"
            data-tooltip="Click to view and purchase levels."
            >
            {{effect.name}}
            </td>

            <td>
            {{effect.type}}
            </td>

            <td>
            {{#if effect.purchasedEffects}}
                {{effect.purchasedEffects.length}}
            {{else}}
                0
            {{/if}}
            </td>

            {{#if @root.actor.system.lockUi}}
            <td></td>
            {{else}}
            <td>
              <a class="technique-delete-effect"
                data-index="{{idx}}"
                data-item-id="{{item.id}}">
                <i class="fas fa-trash"></i>
              </a>
            </td>
            {{/if}}
        </tr>
        {{/each}}
    </tbody>
    </table>


  </div>

</section>

</div>