<section class="common-fields">
  <div class="weapon-grid-item">

    <!-- COLUMN 1 -->
    <div class="weapon-col">

      <!-- CORE STATS -->
      <h3 class="section-header">Core Stats</h3>
      <table class="common-table">
        <tr>
          <td>
            <label>Damage</label>
            <input type="number" name="system.damage.base" value="{{system.damage.base}}" />
          </td>
          <td>
            <label>Speed</label>
            <input type="number" name="system.speed.base" value="{{system.speed.base}}" />
          </td>
        </tr>
        <tr>
          <td>
            <label>Fortitude</label>
            <input type="number" name="system.fortitude.base" value="{{system.fortitude.base}}" />
          </td>
          <td>
            <label>Breakage</label>
            <input type="number" name="system.breakage.base" value="{{system.breakage.base}}" />
          </td>
        </tr>
        <tr>
          <td>
            <label>Presence</label>
            <input type="number" name="system.presence.base" value="{{system.presence.base}}" />
          </td>
          <td>
            <label>Quality</label>
            <input type="number" name="system.specialValue" value="{{system.specialValue}}" />
          </td>
        </tr>
    {{#ifEquals system.weaponType "shield"}}
        <tr>
          <td>
            <label>Block</label>
            <input type="number" name="system.blockBonus" value="{{system.blockBonus}}" />
          </td>
          <td>
            <label>Dodge</label>
            <input type="number" name="system.dodgeBonus" value="{{system.dodgeBonus}}" />
          </td>
        </tr>
    {{/ifEquals}}
      </table>

      <!-- REQUIREMENTS -->
      <h3 class="section-header">Requirements</h3>
      <table class="common-table">
        <tr>
          <td>
            <label>One-Handed Strength</label>
            <input type="number" name="system.strengthReq.oneHanded" value="{{system.strengthReq.oneHanded}}" />
          </td>
          <td>
            <label>Two-Handed Strength</label>
            <input type="number" name="system.strengthReq.twoHanded" value="{{system.strengthReq.twoHanded}}" />
          </td>
        </tr>
        <tr>
          <td>
            <label>Handling</label>
            <select name="system.handling" class="handling select">
              <option value="oneHanded" {{#if (eq system.handling "oneHanded")}}selected{{/if}}>One-Handed</option>
              <option value="twoHanded" {{#if (eq system.handling "twoHanded")}}selected{{/if}}>Two-Handed</option>
            </select>
          </td>
          <td>
            <label>Size</label>
            <select name="system.size" class="select">
              <option value="S" {{#if (eq system.size "S")}}selected{{/if}}>Small</option>
              <option value="M" {{#if (eq system.size "M")}}selected{{/if}}>Medium</option>
              <option value="L" {{#if (eq system.size "L")}}selected{{/if}}>Large</option>
              <option value="En" {{#if (eq system.size "En")}}selected{{/if}}>Enormous</option>
            </select>
          </td>
        </tr>
      </table>

      <!-- WEAPON TYPES -->
      <h3 class="section-header">Weapon Types</h3>
      <table class="common-table">
        <tr>
          <td>
            <label>Primary Type</label>
            <select name="system.weaponType" class="weapon-type select">
              {{#each (weaponTypes) as |type|}}
                <option value="{{type}}" {{#if (eq ../system.weaponType type)}}selected{{/if}}>
                  {{humanize type}}
                </option>
              {{/each}}
            </select>
          </td>
          <td>
            <label>Secondary Type</label>
            <select name="system.secondaryWeaponType" class="sec-weapon-type select">
              {{#each (secondaryWeaponTypes) as |type|}}
                <option value="{{type}}" {{#if (eq ../system.secondaryWeaponType type)}}selected{{/if}}>
                  {{humanize type}}
                </option>
              {{/each}}
            </select>
          </td>
        </tr>
      </table>

    </div>

    <!-- COLUMN 2 -->
    <div class="weapon-col">

      <!-- COMBAT MODIFIERS -->
      <h3 class="section-header">Combat Modifiers</h3>
      <table class="common-table">
        <tr>
          <td>
            <label>Reach</label>
            <input type="number" name="system.reach" value="{{system.reach}}" />
          </td>
          <td>
            <label>Fumble</label>
            <input type="number" name="system.fumble" value="{{system.fumble}}" />
          </td>
        </tr>
        <tr>
          <td>
            <label>Crit Type</label>
            <select name="system.critType" class="crit-select select">
              {{#each (weaponDamageType) as |type|}}
                <option value="{{type}}" {{#if (eq ../system.critType type)}}selected{{/if}}>
                  {{humanize type}}
                </option>
              {{/each}}
            </select>
          </td>
          <td>
            <label>Crit Mod</label>
            <input type="number" name="system.critMod" value="{{system.critMod}}" />
          </td>
        </tr>
        <tr>
          <td>
            <label>
              Modifier: {{system.modifier.value}}
            </label>
            <select name="system.modifier.name" class="modifier-select select">
              <option value="none" {{#if (eq system.modifier.name "none")}}selected{{/if}}>Known</option>
              <option value="similar" {{#if (eq system.modifier.name "similar")}}selected{{/if}}>Similar</option>
              <option value="mixed" {{#if (eq system.modifier.name "mixed")}}selected{{/if}}>Mixed-Class</option>
              <option value="unarmed" {{#if (eq system.modifier.name "unarmed")}}selected{{/if}}>Diff Class/Unarmed</option>
            </select>
          </td>
          <td></td>
        </tr>
      </table>
      <!-- ATTACK TYPES -->
      <h3 class="section-header">Attack Types</h3>
      <table class="common-table">
        <tr>
          <td>
            <label>Primary Attack</label>
            <select name="system.primaryAtkType" class="prim-attk-select select">
              {{#each (weaponDamageType) as |type|}}
                <option value="{{type}}" {{#if (eq ../system.primaryAtkType type)}}selected{{/if}}>
                  {{humanize type}}
                </option>
              {{/each}}
            </select>
          </td>
          <td>
            <label>Secondary Attack</label>
            <select name="system.secondaryAtkType" class="sec-attk-select select">
              {{#each (secondaryWeaponDamageType) as |type|}}
                <option value="{{type}}" {{#if (eq ../system.secondaryAtkType type)}}selected{{/if}}>
                  {{humanize type}}
                </option>
              {{/each}}
            </select>
          </td>
        </tr>
      </table>
    </div>

    <!-- FULL WIDTH -->
    <div class="weapon-col-full">
      <h3 class="section-header">Special Rules</h3>
      <table class="common-table">
        <tr>
          <td>
            <input type="text" name="system.special" value="{{system.special}}" />
          </td>
        </tr>
      </table>
    </div>
  </div>
</section>