<section class="common-fields">
  <div class="weapon-grid">

    <!-- Column 1 -->
    <div class="weapon-col">

      <!-- CORE STATS -->
      <h3 class="section-header">Core Stats</h3>
      <table class="common-table">
        <tr>
          <td>
            <label>Damage</label>
            <input type="number" name="system.damage" value="{{system.damage}}" />
          </td>
          <td>
            <label>Speed</label>
            <input type="number" name="system.speed" value="{{system.speed}}" />
          </td>
        </tr>
        <tr>
          <td>
            <label>Fortitude</label>
            <input type="number" name="system.fortitude" value="{{system.fortitude}}" />
          </td>
          <td>
            <label>Breakage</label>
            <input type="number" name="system.breakage" value="{{system.breakage}}" />
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <label>Presence</label>
            <input type="number" name="system.presence" value="{{system.presence}}" />
          </td>
        </tr>
      </table>

      <!-- REQUIREMENTS & TYPE -->
      <h3 class="section-header">Requirements & Type</h3>
      <table class="common-table">
        <tr>
          <td>
            <label>Required Strength</label>
            <input type="number" name="system.requiredStrength" value="{{system.requiredStrength}}" />
          </td>
          <td>
            <label>Weapon Type</label>
            <select name="system.weaponType" class="select">
              {{#each (weaponTypes) as |type|}}
                <option value="{{type}}" {{#if (eq ../system.weaponType type)}}selected{{/if}}>
                  {{humanize type}}
                </option>
              {{/each}}
            </select>
          </td>
        </tr>
        <tr>
          <td>
            <label>Size</label>
            <select name="system.size" class="select">
              <option value="S" {{#if (eq system.size "S")}}selected{{/if}}>Small</option>
              <option value="M" {{#if (eq system.size "M")}}selected{{/if}}>Medium</option>
              <option value="L" {{#if (eq system.size "L")}}selected{{/if}}>Large</option>
            </select>
          </td>
          <td>
            <label>Handling</label>
            <select name="system.handling" class="select">
              <option value="oneHanded" {{#if (eq system.handling "oneHanded")}}selected{{/if}}>One-Handed</option>
              <option value="twoHanded" {{#if (eq system.handling "twoHanded")}}selected{{/if}}>Two-Handed</option>
              <option value="versatile" {{#if (eq system.handling "versatile")}}selected{{/if}}>Versatile</option>
            </select>
          </td>
        </tr>
      </table>

    </div>

    <!-- Column 2 -->
    <div class="weapon-col">

      <!-- COMBAT MODIFIERS -->
      <h3 class="section-header">Combat Modifiers</h3>
      <table class="common-table">
        <tr>
          <td>
            <label>Reach</label>
            <input type="number" name="system.reach" value="{{system.reach}}" />
          </td>
          <td>
            <label>Initiative Mod</label>
            <input type="number" name="system.initMod" value="{{system.initMod}}" />
          </td>
        </tr>
        <tr>
          <td>
            <label>Block Mod</label>
            <input type="number" name="system.blockMod" value="{{system.blockMod}}" />
          </td>
          <td>
            <label>Fumble</label>
            <input type="number" name="system.fumble" value="{{system.fumble}}" />
          </td>
        </tr>
        <tr>
          <td>
            <label>Crit Type</label>
            <select name="system.critType" class="select">
              {{#each (weaponDamageType) as |type|}}
                <option value="{{type}}" {{#if (eq ../system.critType type)}}selected{{/if}}>
                  {{humanize type}}
                </option>
              {{/each}}
            </select>
          </td>
          <td>
            <label>Crit Mod</label>
            <input type="number" name="system.critMod" value="{{system.critMod}}" />
          </td>
        </tr>
      </table>

      <h3 class="section-header">Weapon Types</h3>
      <table class="common-table">
        <tr>
          <td>
            <label>Primary Attack</label>
            <select name="system.primaryAtkType" class="prim-attk-select select">
              {{#each (weaponDamageType) as |type|}}
                <option value="{{type}}" {{#if (eq ../system.primaryAtkType type)}}selected{{/if}}>
                  {{humanize type}}
                </option>
              {{/each}}
            </select>
          </td>
          <td>
            <label>Secondary Attack</label>
            <select name="system.secondaryAtckType" class="secondary-attk-select select">
              {{#each (secondaryWeaponDamageType) as |type|}}
                <option value="{{type}}" {{#if (eq ../system.secondaryAtckType type)}}selected{{/if}}>
                  {{humanize type}}
                </option>
              {{/each}}
            </select>
          </td>
        </tr>
      </table>

    </div>

    <!-- SPECIAL RULES (full width) -->
    <div class="weapon-col-full">
      <h3 class="section-header">Special Rules</h3>
      <table class="common-table">
        <tr>
          <td>
            <input type="text" name="system.special" value="{{system.special}}" />
          </td>
        </tr>
      </table>
    </div>

  </div>
</section>