<form class="advantage">
    <div class="selector-column">
        <select class="advantage-selector">
        {{#each advantageOptions as |adv|}}
        <option value="{{adv}}" {{#ifEquals adv ../selectedAdvantage}}selected{{/ifEquals}}>
            {{advName adv}}
        </option>
        {{/each}}
        </select>

        <button type="button" class="confirm-add">OK</button>

    </div>

    <section>
        <h3>Effects</h3>
        <p>{{advantageData.effects}}</p>
    </section>

    {{#if advantageData.restriction}}
        <section>
            <h3>Restriction</h3>
            <p>{{advantageData.restriction}}</p>
        </section>
    {{/if}}

    {{#if advantageData.special}}
        <section>
            <h3>Special</h3>
            <p>{{advantageData.special}}</p>
        </section>
    {{/if}}

    <section>
        <h3>Cost</h3>
        <p>{{advantageData.cost}}</p>
    </section>

    <section>
        <h3>Description</h3>
        <p>{{advantageData.description}}</p>
    </section>
</form>