<h3>
  Armor
</h3>

<table class="item-table" data-table="armor">
  <thead>
    <tr>
      <th>
        Name
      </th>
      <th>
        Cut
      </th>
      <th>
        Impact
      </th>
      <th>
        Thrust
      </th>
      <th>
        Heat
      </th>
      <th>
        Electricity
      </th>
      <th>
        Cold
      </th>
      <th>
        Energy
      </th>
      <th>
        Location
      </th>
      <th>
        Equipped?
      </th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    {{#each system.items.armor as |item|}}
      <tr data-item-id="{{item.id}}" class="item-row">
        <td class="item-name item-edit clickable">
          {{item.name}}
        </td>
        {{#each item.system.armorType as |type|}}
          <td>{{type.final}}</td>
        {{/each}}
        <td>
          {{humanize item.system.location}}
        </td>
        <td class="armor-equip-toggle clickable" data-item-id="{{item.id}}">
          {{#if item.system.equipped}}
            <i class="fas fa-check"></i>
          {{else}}
            <i class="fas fa-times"></i>
          {{/if}}
        </td>
        <td class="item-controls">
          <a class="item-delete">
            <i class="fas fa-trash"></i>
          </a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>