<div class="combat-grid-core">
  <!-- LEFT COLUMN -->
  <div class="combat-left-core">
    <section>
      <h3>Number of actions: {{actor.system.combat.maxActions}}</h3>
      <h3>
        Core Stats
      </h3>
    </section>
    <section class="secondary-block">
      <div class="field-row">
        <label class="path-name">
          Attack
        </label>
        <span class="path-name attack-roll clickable"
          data-type="{{item.system.primaryAtkType}}"
          data-tooltip="Click to roll attack, can be used against a targeted enemy.">
          {{system.abilities.primary.Combat.Attack.final}}
        </span>
      </div>
      <div class="field-row">
        <label class="path-name">
          Block
        </label>
        <span class="path-name">
          {{system.abilities.primary.Combat.Block.final}}
        </span>
      </div>
      <div class="field-row">
        <label class="path-name">
          Dodge
        </label>
        <span class="path-name">
          {{system.abilities.primary.Combat.Dodge.final}}
        </span>
      </div>
      <div class="field-row">
        <label class="path-name">
          Wear Armor
        </label>
        <span class="path-name">
          {{system.abilities.primary.Combat.WearArmor.final}}
        </span>
      </div>

      {{#if actor.system.settings.usesMystic}}
      <h4>Magic Projection</h4>
      <div class="imbalance-group">
        <div class="imbalance-row">
          <div class="imbalance-field">
            <label class="path-name">
              Offensive
            </label>
            <span class="clickable spell-attack-roll path-name" data-tooltip="Click to make spell attack.">
              {{system.abilities.primary.Supernatural.MagicProjection.offensiveFinal}}
            </span>
          </div>
          <div class="imbalance-field">
            <label class="path-name">
              Defensive
            </label>
            <span class="path-name">
              {{system.abilities.primary.Supernatural.MagicProjection.defensiveFinal}}
            </span>
          </div>
        </div>
      </div>
      <h4 
        class="clickable magic-accumulation" 
        data-tooltip="Click to start Magic Accumulation">
        Magic Accumulation: {{system.abilities.primary.Supernatural.MagicAccumulation.final}}
      </h4>
      <div class="imbalance-group">
        <div class="zeon-row">
          <div class="imbalance-field">
            <label class="path-name">
              Accumulated
            </label>
            <span class="path-name clickable accumulated-manual" data-tooltip="Click to manually edit">
              {{system.abilities.primary.Supernatural.Zeon.temp}}
            </span>
          </div>
          <div class="imbalance-field">
            <label class="path-name">
              Reserve
            </label>
            <span class="path-name clickable reserve-manual" data-tooltip="Click to manually edit">
              {{system.abilities.primary.Supernatural.Zeon.reserve}}
            </span>
          </div>
          <div class="imbalance-field">
            <label class="path-name">
              Maximum
            </label>
            <span class="path-name" data-tooltip="Final Zeon = 20 + (Base Power * 10) + Power Final + (Base Zeon * 5)">
              {{system.abilities.primary.Supernatural.Zeon.final}}
            </span>
          </div>
        </div>
      </div>
      {{/if}}
      {{#if actor.system.settings.usesDomine}}
        <h4 
          class="clickable ki-accumulation" 
          data-tooltip="Click to start Ki Accumulation">
          Ki Accumulation: {{system.abilities.primary.Combat.Ki.totalKiAccumulation}}
        </h4>
        <div class="zeon-row">
          <div class="imbalance-field">
            <label class="path-name">
              Accumulated
            </label>
            <span class="path-name clickable ki-accumulated-manual" data-tooltip="Click to manually edit">
              {{system.abilities.primary.Combat.Ki.current}}
            </span>
          </div>
          <div class="imbalance-field">
            <label class="path-name">
              Reserve
            </label>
            <span class="path-name clickable ki-reserve-manual" data-tooltip="Click to manually edit">
              {{system.abilities.primary.Combat.Ki.reserve}}
            </span>
          </div>
          <div class="imbalance-field">
            <label class="path-name">
              Maximum
            </label>
            <span class="path-name">
              {{system.abilities.primary.Combat.Ki.totalKi}}
            </span>
          </div>
        </div>
      {{/if}}

      {{#if actor.system.settings.usesPsychic}}
        <h4>Psychic Projection</h4>
          <div class="field-row">
            <label class="path-name">
              Bonus
            </label>
            <span class="path-name">
              {{system.abilities.primary.Psychic.PsychicProjection.bonus}}
            </span>
          </div>

          <div class="field-row">
            <label class="path-name">
              Final
            </label>
            <span class="path-name">
              {{system.abilities.primary.Psychic.PsychicProjection.final}}
            </span>
          </div>
          <h4>Psychic Points</h4>
          <div class="imbalance-group">
            <div class="imbalance-row">
              <div class="imbalance-field">
                <label class="path-name">
                  Free PP Used
                </label>
                <span class="path-name clickable pp-current-manual" data-tooltip="Click to manually edit">
                  {{system.abilities.primary.Psychic.PsychicPoints.temp}}
                </span>
              </div>

              <div class="imbalance-field">
                <label class="path-name">
                  Remaining
                </label>
                <span class="path-name">
                  {{system.psychic.pp.remaining}}
                </span>
              </div>
            </div>
          </div>
      {{/if}}
    </section>

<section>
      <h3>Modules</h3>
      <div class="modules-grid">
        <!-- WEAPON MODULES -->
        <div class="module-card">
          <div>
            <h3>
              Weapon Modules
            </h3>
          </div>

          <ul class="module-list">
            {{#each system.modules.WeaponModules as |mod idx|}}
              <li class="module-row">
                <span
                  class="clickable clickable-module"
                  data-index="{{idx}}"
                  data-module="{{mod.name}}"
                  data-type="{{mod.type}}"
                >
                  {{mod.name}}
                </span>
              </li>
            {{/each}}
          </ul>
        </div>

        <!-- STYLE MODULES -->
        <div class="module-card">
          <div>
            <h3>
              Style Modules
            </h3>
          </div>

          <ul class="module-list">
            {{#each system.modules.StyleModules as |mod idx|}}
              <li class="module-row">
                <span
                  class="clickable clickable-module"
                  data-index="{{idx}}"
                  data-module="{{mod.name}}"
                  data-type="{{mod.type}}"
                >
                  {{mod.name}}
                </span>
              </li>
            {{/each}}
          </ul>
        </div>

        {{#if actor.system.settings.usesMystic}}
        <!-- MYSTICAL MODULES -->
        <div class="module-card">
          <div>
            <h3>
              Mystical Modules
            </h3>
          </div>

          <ul class="module-list">
            {{#each system.modules.MysticalModules as |mod idx|}}
              <li class="module-row">
                <span
                  class="clickable clickable-module"
                  data-index="{{idx}}"
                  data-module="{{mod.name}}"
                  data-type="{{mod.type}}"
                >
                  {{mod.name}}
                </span>
              </li>
            {{/each}}
          </ul>
        </div>
        {{/if}}

        {{#if actor.system.settings.usesPsychic}}
        <!-- PSYCHIC MODULES -->
        <div class="module-card">
          <div>
            <h3>
              Psychic Modules
            </h3>
          </div>

          <ul class="module-list">
            {{#each system.modules.PsychicModules as |mod idx|}}
              <li class="module-row">
                <span
                  class="clickable clickable-module"
                  data-index="{{idx}}"
                  data-module="{{mod.name}}"
                  data-type="{{mod.type}}"
                >
                  {{mod.name}}
                </span>
              </li>
            {{/each}}
          </ul>
        </div>
        {{/if}}

        {{#if actor.system.settings.usesDomine}}
        <div class="module-card">
          <div>
            <h3>
              Martial Arts
            </h3>
          </div>

          <ul class="module-list">
            {{#each system.modules.MartialArts as |mod idx|}}
              <li class="module-row">
                <span
                  class="clickable clickable-module"
                  data-index="{{idx}}"
                  data-module="{{mod.name}}"
                  data-type="{{mod.type}}"
                >
                  {{mod.name}}
                </span>
              </li>
            {{/each}}
          </ul>
        </div>
        {{/if}}
      </div>
</section>
  </div>

  <!-- RIGHT COLUMN -->
  <div class="combat-right-core">
    <section>
      <div class="secondary-header">{{> "systems/abf-system/templates/actors/partials/nav/combat/weapons.hbs" }}</div>
    </section>
    <section>
      <div class="secondary-header">{{> "systems/abf-system/templates/actors/partials/nav/combat/armor.hbs" }}</div>
    </section>
    {{#if actor.system.settings.usesMystic}}
    <div class="secondary-header">{{> "systems/abf-system/templates/actors/partials/nav/combat/mystic.hbs" }}</div>
    {{/if}}
    {{#if actor.system.settings.usesDomine}}
    <section>
      <div class="secondary-header">{{> "systems/abf-system/templates/actors/partials/nav/combat/techniques.hbs" }}</div>
    </section>
    {{/if}}
    {{#if actor.system.settings.usesPsychic}}
    <section>
      <div class="secondary-header">{{> "systems/abf-system/templates/actors/partials/nav/combat/mental-powers.hbs" }}</div>
    </section>
    {{/if}}
  </div>
</div>