<div class="combat-grid-core">
  <!-- LEFT COLUMN -->
  <div class="combat-left-core">
    <h3>Number of actions: {{actor.system.combat.maxActions}}</h3>
    <h3>
      Core Stats
    </h3>
    <div class="secondary-block">
      <table class="ability-table">
        <thead>
          <tr>
            <th class="ability-table-name">
              Ability
            </th>
            <th>
              Final
            </th>
          </tr>
        </thead>
        <tbody>
          {{#each actor.system.abilities.primary.Combat as |ability key|}}
          {{#if (in key "Ki" "KiAccumulation")}}
          {{else}}
            <tr>
              <td>
                {{localize (concat "ABF.Ability." key)}}
              </td>
              {{#if (in key "WearArmor")}}
                <td>{{ability.final}}</td>
              {{else}}
              <td>
                {{ability.final}}
              </td>
              {{/if}}
            </tr>
            {{/if}}
          {{/each}}
        </tbody>
      </table>
    </div>

      <h3>Modules</h3>
      <div class="modules-grid">
        <!-- WEAPON MODULES -->
        <div class="module-card">
          <div>
            <h3>
              Weapon Modules
            </h3>
          </div>

          <ul class="module-list">
            {{#each system.modules.WeaponModules as |mod idx|}}
              <li class="module-row">
                <span
                  class="clickable clickable-module"
                  data-index="{{idx}}"
                  data-module="{{mod.name}}"
                  data-type="{{mod.type}}"
                >
                  {{mod.name}}
                </span>
              </li>
            {{/each}}
          </ul>
        </div>

        <!-- MYSTICAL MODULES -->
        <div class="module-card">
          <div>
            <h3>
              Mystical Modules
            </h3>
          </div>

          <ul class="module-list">
            {{#each system.modules.MysticalModules as |mod idx|}}
              <li class="module-row">
                <span
                  class="clickable clickable-module"
                  data-index="{{idx}}"
                  data-module="{{mod.name}}"
                  data-type="{{mod.type}}"
                >
                  {{mod.name}}
                </span>
              </li>
            {{/each}}
          </ul>
        </div>

        <!-- STYLE MODULES -->
        <div class="module-card">
          <div>
            <h3>
              Style Modules
            </h3>
          </div>

          <ul class="module-list">
            {{#each system.modules.StyleModules as |mod idx|}}
              <li class="module-row">
                <span
                  class="clickable clickable-module"
                  data-index="{{idx}}"
                  data-module="{{mod.name}}"
                  data-type="{{mod.type}}"
                >
                  {{mod.name}}
                </span>
              </li>
            {{/each}}
          </ul>
        </div>

        <!-- PSYCHIC MODULES -->
        <div class="module-card">
          <div>
            <h3>
              Psychic Modules
            </h3>
          </div>

          <ul class="module-list">
            {{#each system.modules.PsychicModules as |mod idx|}}
              <li class="module-row">
                <span
                  class="clickable clickable-module"
                  data-index="{{idx}}"
                  data-module="{{mod.name}}"
                  data-type="{{mod.type}}"
                >
                  {{mod.name}}
                </span>
              </li>
            {{/each}}
          </ul>
        </div>
      </div>

  </div>

  <!-- RIGHT COLUMN -->
  <div class="combat-right-core">
    <div class="secondary-header">{{> "systems/abf-system/templates/actors/partials/nav/combat/weapons.hbs" }}</div>
    <div class="secondary-header">{{> "systems/abf-system/templates/actors/partials/nav/combat/armor.hbs" }}</div>
  </div>
</div>