<h3>
  Weapons
</h3>

<table class="item-table" data-table="weapons">
  <thead>
    <tr>
      <th>
        Name
      </th>
      <th>
        Attack Type
      </th>
      <th>
        Weapon Type
      </th>
      <th>
        Attack Mod
      </th>
      <th>
        Damage
      </th>
      <th>
        Block Mod
      </th>
      <th>
        Initiative Mod
      </th>
      <th>
        Equipped?
      </th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    {{#each system.items.weapons as |item|}}
      <tr data-item-id="{{item.id}}" class="item-row">
        <td class="item-name item-edit clickable">
          {{item.name}}
        </td>
        <td>
          {{humanize item.system.primaryAtkType}}
        </td>
        <td>
          {{humanize item.system.weaponType}}
        </td>
        <td
          class="attack-roll clickable"
          data-type="{{item.system.primaryAtkType}}"
          data-tooltip="Click to roll attack, can be used against a targeted enemy."
        >
          {{item.system.attackBonus}}
        </td>
        <td class="damage-roll clickable" data-damage="{{item.system.damage.final}}">
          {{item.system.damage.final}}
        </td>
        <td>
          {{item.system.blockBonus.final}}
        </td>
        <td>
          {{item.system.speed.final}}
        </td>
        <td class="weapon-equip-toggle clickable" data-item-id="{{item.id}}">
          {{#if item.system.equipped}}
            <i class="fas fa-check"></i>
          {{else}}
            <i class="fas fa-times"></i>
          {{/if}}
        </td>

        <td class="item-controls">
          <a class="item-delete">
            <i class="fas fa-trash"></i>
          </a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>