<section class="common-fields">
  <div class="section-block">
    <h3>
      Details
    </h3>
    <table class="common-table">
      <tr>
        <td>
          <label>
            Fortitude
          </label>
          {{system.fortitude.final}}
        </td>
        <td>
          <label>
            Presence
          </label>
          {{system.presence.final}}
        </td>
        <td>
          <label>
            Wear Armor Req
          </label>
          {{system.wearArmorReq.final}}
        </td>
        <td>
          <label>
            Movement Restrction
          </label>
          {{system.moveRestriction.final}}
        </td>
        <td>
          <label>
            Natural Penalty
          </label>
          {{system.naturalPenalty.final}}
        </td>
        <td>
          <label>
            Physical Penalty
          </label>
          {{system.physicalPenalty}}
        </td>
      </tr>
    </table>
  </div>
</section>