<section class="common-fields">
  <div class="section-block">
    <h3>
      AT Values
    </h3>
    <table class="common-table">
      <tr>
        <th>
          Cut
        </th>
        <th>
          Impact
        </th>
        <th>
          Thrust
        </th>
        <th>
          Heat
        </th>
        <th>
          Electricity
        </th>
        <th>
          Cold
        </th>
        <th>
          Energy
        </th>
      </tr>
      <tr>
        <td>
          {{system.armorType.cut.final}}
        </td>
        <td>
          {{system.armorType.imp.final}}
        </td>
        <td>
          {{system.armorType.thr.final}}
        </td>
        <td>
          {{system.armorType.hea.final}}
        </td>
        <td>
          {{system.armorType.ele.final}}
        </td>
        <td>
          {{system.armorType.col.final}}
        </td>
        <td>
          {{system.armorType.ene.final}}
        </td>
      </tr>
    </table>
    <h3>
      Details
    </h3>
    <table class="common-table">
      <tr>
        <td>
          <label>
            Fortitude
          </label>
          {{system.fortitude.final}}
        </td>
        <td>
          <label>
            Presence
          </label>
          {{system.presence.final}}
        </td>
        <td>
          <label>
            Wear Armor Req
          </label>
          {{system.wearArmorReq.final}}
        </td>
        <td>
          <label>
            Movement Restrction
          </label>
          {{system.moveRestriction.final}}
        </td>
        <td>
          <label>
            Natural Penalty
          </label>
          {{system.naturalPenalty.final}}
        </td>
        <td>
          <label>
            Physical Penalty
          </label>
          {{system.physicalPenalty}}
        </td>
      </tr>
    </table>
  </div>
</section>